= semantic_form_for resource,html: {id: "#{resource_class.name.underscore}_form",class: "enter2tab"} do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs :class =>"city-group" do
    = f.input :code,:as => :select,:collection => ChinaCity.list,:input_html => {:class => 'city-select city-province'}
    = f.input :city_code,:as => :select,:collection => ChinaCity.list,:input_html => {:class => 'city-select city-city'}
    = f.input :district_code,:as => :select,:collection => ChinaCity.list,:input_html => {:class => 'city-select city-district'}

  = f.inputs :total_area
