%table.table.table-condensed.table-bordered
  %tr
    %th{colspan: 6,style: "text-align:right;"}
      %label.label.label-info
        = resource.check_state_des
  %tr
    %th 上报机构
    %td= resource.org
    %th 月份
    %td= resource.mth
    %th 上报日期
    %td= resource.table_date
  %tr
    %th 名称
    %td{:colspan => 5}= resource.name
  %tr
    %td{:colspan => 6}
      = resource.note
  %tr
    %th 安全工作月报扣分
    %th 事故报告扣分
    %th 教育培训扣分
    %th 应急演练扣分
    %th 安委会会议扣分
    %th 事故隐患扣分
  %tr
    %td= resource.k_safety_table_marks
    %td= resource.k_accident_marks
    %td= resource.k_training_marks
    %td= resource.k_planb_doc_marks
    %td= resource.k_meeting_marks
    %td= resource.k_hidden_danger_marks
  %tr
    %th 较大安全隐患扣分
    %th 重大事故扣分
    %th 处罚扣分
    %th 奖励分
    %th 实际得分
    %th
  %tr
    %td= resource.k_big_hidden_danger_marks
    %td= resource.k_big_accident_marks
    %td= resource.k_punishment_marks
    %td= resource.reward_marks
    %td
      %label.label-primary
        = resource.sum_marks
    %td
