%table.table.table-condensed.table-bordered
  %tr
    %th{colspan: 6,style: "text-align:right;"}
      %label.label.label-info
        = resource.check_state_des
  %tr
    %th 上报机构
    %td= resource.org
    %th 月份
    %td= resource.mth
    %th 上报日期
    %td= resource.table_date
  %tr
    %th 名称
    %td{:colspan => 5}= resource.name
  %tr
    %td{:colspan => 6}
      = resource.note
  %tr
    %th 安委会会议扣分
    %th 工作及事故报报扣分
    %th 教育培训扣分
    %th 演练评审扣分
    %th 档案及台帐记录扣分
    %th 安全检查及事故隐患扣分
  %tr
    %td= resource.k_meeting_marks
    %td= resource.k_safety_table_marks
    %td= resource.k_training_marks
    %td= resource.k_planb_doc_marks
    %td= resource.k_files_marks
    %td= resource.k_hidden_danger_marks
  %tr
    %th 实际得分
    %td{colspan: 5}
      %label.label-warning
        = resource.sum_marks
