<!-- Content Header (Page header) -->
%section.content-header
  %h3=  "无线上网设备审批"

%section.content
  .row
    .col-md-12.col-sm-12.col-xs-12
      .box.box-primary
        .box-header
          %h3.box-title
            = render "dynamic_toolbar"

        .box-body
          %div{:id => "#{resource_class.name.underscore}_form_wrap"}
            = render "wifi_clients/show"
            = render "form"
