.box.box-info
  .box-header
    %h3.box-title 待处理教育培训
  .box-body
    %table.table.table-condensed.table-stripped.table-hover
      - if can? :show_check,Training
        - @waitting_trainings.each do |t|
          %tr
            %td
              %span.label.label-info 待审批
            %td= t.training_date
            %td= t.org
            %td= link_to t.name,check_training_path(t)

      - @rejected_trainings.each do |t|
        - if t.org_id == current_user.default_org_id
          %tr
            %td
              %span.label.label-error 已驳回
            %td= t.training_date
            %td= t.org
            %td= link_to t.name,t
