<!-- Content Header (Page header) -->
%section.content-header
  %h3{style: "text-align : center;"}
    %i.fa.fa-desktop
    个人工作台
<!-- Main content -->
%section.content
  <!-- Info boxes -->
  .row
    .col-md-3.col-md-offset-2
      / 任务
      - if can? :read,Task
        = render "task"
    .col-md-3.col-md-offset-2
      / 教育培训
      - if can? :read,Training
        = render "training"
  .row
    .col-md-3.col-md-offset-2
      / 应急预案
      - if can? :read,PlanbDoc
        = render "planb_doc"
    .col-md-3.col-md-offset-2
      / 会议
      - if can? :read,Meeting
        = render "meeting"
  .row
    .col-md-3.col-md-offset-2
      / 隐患整改
      - if can? :read,HiddenDanger
        = render "hidden_danger"
    .col-md-3.col-md-offset-2
      / 消防设施
      - if can? :read,FireFightingEquipment
        = render "fire_fighting_equipment"
