<!-- Content Header (Page header) -->
%section.content-header
<!-- Main content -->
%section.content
  <!-- Info boxes -->
  .row
    .col-md-3
      = render "task"
    .col-md-3
      = render "task"
    .col-md-3
      = render "task"
    .col-md-3
      = render "task"
  .row
    .col-md-3
      = render "task"
