.btn-group.btn-group-justified.cux-demand-tabs{:role => "group","aria-label" => "..."}
  = link_to "项目信息", "#",class: "btn btn-sm btn-info","data-link-el-class" => ".header"
  = link_to "审批记录", "#",class: "btn btn-sm","data-link-el-class" => ".audits"
  = link_to "附件", "#",class: "btn btn-sm","data-link-el-class" => ".attachments"

/ 表头
.header.well.well-sm
  =render "header"

/ 审批明细
.audits{:style => 'display : none;'}
  = render "audits"

/ 附件
.attachments{:style => 'display : none;'}
  = render "shared/attachment",attachments: @cux_pm_pre_project.cux_soa_attached_doc_vs
