/ 联赛积分
%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %td 排名
      %td 球队
      %td 赛
      %td 胜
      %td 平
      %td 得
      %td 失
      %td 积
  %tbody
    - season_rankings.each do |r|
      %tr
        %td= r.ranking
        %td= r.team.try(:cn_name)
        %td= r.games
        %td= r.win
        %td= r.draw
        %td= r.lose
        %td= r.get
        %td= r.miss
        %td= r.pts
