%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %td 球队
      %td 赛
      %td 大
      %td 走
      %td 小
      %td 大%
      %td 走%
      %td 小%
  %tbody
    - season_balls.each do |sb|
      %tr
        %td= sb.team.try(:cn_name)
        %td= sb.games
        %td= sb.over
        %td= sb.void
        %td= sb.under
        %td= "#{(sb.over/sb.games).round(3)*100}%"
        %td= "#{(sb.void/sb.games).round(3)*100}%"
        %td= "#{(sb.under/sb.games).round(3)*100}%"
