%input{:type => "hidden",:value => @league.league_id,:class => "input_league_id"}
- if @league.league_type == 1
  .well.well-sm
    %h4{:style => "text-align : center;"}= @league.cn_name
    %select.form-control.input-sm.select-season
      = options_for_select(seasons_for_select(@league.league_id),params[:q][:season_id_eq])

  .btn-group.btn-group-justified.league-tabs{:role => "group","aria-label" => "..."}
    = link_to "积分", "#",class: "btn btn-sm btn-info","data-link-el-class" => ".season-rankings"
    = link_to "赛程", "#",class: "btn btn-sm","data-link-el-class" => ".season-schedules"
    = link_to "让球", "#",class: "btn btn-sm","data-link-el-class" => ".season-goals"
    = link_to "大小", "#",class: "btn btn-sm","data-link-el-class" => ".season-balls"
    = link_to "射手榜", "#",class: "btn btn-sm","data-link-el-class" => ".season-archers"

  .season-rankings.well.well-sm
    =render "season_ranking",season_rankings: @league.season_rankings.exists? ? @league.season_rankings.ransack(params[:q]).result : []

  .season-schedules.well.well-sm{:style => 'display : none;'}
    =render "schedule",schedules: @league.schedules.exists? ? @league.schedules.ransack(params[:q]).result : []

  .season-goals.well.well-sm{:style => 'display : none;'}

    =render "season_goal",season_goals: @league.season_goals.exists? ? @league.season_goals.ransack(params[:q]).result : []

  .season-balls.well.well-sm{:style => 'display : none;'}
    =render "season_ball",season_balls: @league.season_balls.exists? ? @league.season_balls.ransack(params[:q]).result : []

  .season-archers.well.well-sm{:style => 'display : none;'}
    =render "season_archer",season_archers: @league.season_archers.exists? ? @league.season_archers.ransack(params[:q]).result : []


- else
  .well.well-sm
    %h4{:style => "text-align : center;"}= @league.cn_name
    %select.form-control.input-sm.select-season
      = options_for_select(seasons_for_select(@league.league_id),params[:q][:season_id_eq])

    %select.form-control.input-sm.select-stage
      = options_for_select(stages_for_select(@league.league_id,params[:q][:season_id_eq]),params[:q][:stage_id_eq])


  .btn-group.btn-group-justified.league-tabs{:role => "group","aria-label" => "..."}
    = link_to "积分", "#",class: "btn btn-sm btn-info","data-link-el-class" => ".cup-rankings"
    = link_to "赛程", "#",class: "btn btn-sm","data-link-el-class" => ".cup-schedules"

  .cup-rankings.well.well-sm
    =render "cup_ranking",cup_rankings: @league.cup_rankings.exists? ? @league.cup_rankings.ransack(params[:q]).result : []

  .cup-schedules.well.well-sm{:style => 'display : none;'}
    =render "cup_schedule",cup_schedules: @league.cup_schedules.exists? ? @league.cup_schedules.ransack(params[:q]).result : []
