= semantic_form_for resource,html: {id: "meeting_form"} do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.hidden_field :user_id,value: current_user.id
  = f.hidden_field :check_state,value: "draft"
  .table-responsive
    %table#training_form_table.table.table-condensed.table-bordered
      %tr
        %th 上报机构
        %td{:colspan => 3}
          = f.input :org_id,as: :select,collection: current_ability_orgs_for_select,label: false,include_blank: false,input_html: {style: "width : 30%;"}
        %th 上报时间
        %td
          = f.input :table_date,as: :string,label: false,input_html: {class: "input-sm",
            readonly: true,
            style: "width: 100px",
            "data-provide" => "datepicker",
            "data-date-format" => "yyyy-mm-dd",
            "data-date-end-date" => "0d",
            "data-date-language" => "zh-CN"}
      %tr
        %th= f.label :name
        %td{:colspan => 6}= f.input :name,label: false,input_html: {class: "input-sm",style: "width : 80%"}
      %tr
        %th= f.label :meeting_date
        %td
          = f.input :meeting_date,as: :string,label: false,input_html: {class: "input-sm",
            readonly: true,
            style: "width: 100px",
            "data-provide" => "datepicker",
            "data-date-format" => "yyyy-mm-dd",
            "data-date-end-date" => "0d",
            "data-date-language" => "zh-CN"}
        %th= f.label :meeting_length
        %td
          = f.input :meeting_length,label: false,input_html: {class: "input-sm"}
          小时
        %th= f.label :presenter
        %td= f.input :presenter,label: false,input_html: {class: "input-sm"}

      %tr
        %th= f.label :join_persons 
        %td{:colspan => 3}= f.input :join_persons,label: false,input_html: {class: "input-sm"}

        %th= f.label :join_count
        %td= f.input :join_count,label: false,input_html: {class: "input-sm"}
      %tr
        %th{:colspan => 6}= f.label :meeting_content
      %tr
        %td{:colspan => 6}
          = f.input :meeting_content,label: false,input_html: {cols: 12,rows: 4,placeholder: "请简述下会议议程和主要内容。"}
      %tr
        %th{:colspan => 6} 照片
      %tr
        %td{colspan: 3}= f.input :photo_1,as: :file,label: false
        %td{colspan: 3}= f.input :photo_2,as: :file,label: false
      %tr
        %td{colspan: 3}= f.input :photo_3,as: :file,label: false
        %td{colspan: 3}= f.input :photo_4,as: :file,label: false
        -# %td= f.input :photo_5,as: :file,label: false
        -# %td= f.input :photo_6,as: :file,label: false
