%table#meeting_form_table.table.table-condensed.table-bordered
  %tr
    %td{colspan: 8,style: "text-align: right;"}
      %span{class: resource.check_state_class}
        = resource.check_state_des

  %tr
    %th 上报机构
    %td{:colspan => 3}= resource.org
    %th 上报时间
    %td= resource.table_date
  %tr
    %th 会议名称
    %td{:colspan => 6}= resource.name
  %tr
    %th 会议时间
    %td= resource.meeting_date
    %th 会议时长
    %td= resource.meeting_length
    %th 主持人
    %td= resource.presenter

  %tr
    %th 参加人员
    %td{:colspan => 3}= resource.join_persons

    %th 人数
    %td= resource.join_count
  %tr
    %th{:colspan => 6} 会议内容
  %tr
    %td{:colspan => 6}
      = resource.meeting_content
  %tr
    %th{:colspan => 6} 会议照片
  %tr
    %td
    %td
      - if resource.photo_1.present?
        = link_to  asset_url(resource.photo_1.url),class: "thumbnail fancybox" do
          = image_tag  asset_url(resource.photo_1.url(:thumb))
    %td
      - if resource.photo_2.present?
        = link_to  asset_url(resource.photo_2.url),class: "thumbnail fancybox" do
          = image_tag  asset_url(resource.photo_2.url(:thumb))
    %td
      - if resource.photo_3.present?
        = link_to  asset_url(resource.photo_3.url),class: "thumbnail fancybox" do
          = image_tag  asset_url(resource.photo_3.url(:thumb))
    %td
      - if resource.photo_4.present?
        = link_to  asset_url(resource.photo_4.url),class: "thumbnail fancybox" do
          = image_tag  asset_url(resource.photo_4.url(:thumb))

    %td
  %tr
    %th 审核人
    %td= resource.try(:checker).try(:username)

    %th 审核状态
    %td= resource.check_state_des
    %th 审核意见
    %td= resource.check_opinion
