%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th 时间
    %th 比赛
    %th 队伍
    %th 类型
    %th 方向
    %th 位置
  - @odd_changes.each do |o|
    %tr
      %td= o.data_time.strftime("%Y-%m-%d %H:%M")
      %td= o.match.league.cn_name
      %td= o.team.cn_name
      %td= match_type_des o.match_type
      %td= change_type_des o.change_type
      %td= position_type_des o.position_type
    %tr
      %th 主
      %th 让
      %th 客
      %th 主变
      %th 让变
      %th 客变
    %tr
      %td= o.home1
      %td= o.goal1
      %td= o.away1
      %td= o.home2
      %td= o.goal2
      %td= o.away2
    %tr
      %td{:colspan => 6,:style => "border-bottom : 1px solid gray;"}
