%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th{:style => "text-align : center;"} 时间
    %th{:style => "text-align : center;"}  情况
  - @odd_changes.each do |o|
    %tr
      %td= o.data_time.strftime("%Y-%m-%d %H:%M")
      %td
        = "[#{match_type_des(o.match_type)}]#{o.team.cn_name}#{o.position_type == 1 ? '水位' : '盘口'}快速#{o.change_type ==1 ? '上升' : '下降'}"
