= semantic_form_for @employee,html: {id: "employee_form"} do |f|
  = f.inputs "基础资料" do
    = f.input :org,as: :select,collection: current_ability_orgs_for_select,include_blank: false,input_html: {style: "width : 30%;"}
    = f.input :name,input_html: {style: "width : 30%;"}
    = f.input :avatar,as: :file
    = f.input :gender,as: :select,collection: genders_for_select,include_blank: false,input_html: {style: "width : 30%;"}

    = f.input :birthday,as: :string,input_html: {readonly: true,
      "data-provide" => "datepicker",
      "data-date-format" => "yyyy-mm-dd",
      "data-date-end-date" => "0d",
      "data-date-language" => "zh-CN",
      style: "width : 15%;"}
    = f.input :academic,input_html: {style: "width : 60%;"}

    = f.input :graduate_from,input_html: {style: "width : 60%;"}

    = f.input :id_no,input_html: {style: "width : 30%;"}

    = f.input :mobile,input_html: {style: "width : 30%;"}

    = f.input :address,input_html: {style: "width : 40%;"}

    = f.input :email,input_html: {style: "width : 30%;"}

    = f.input :qq,input_html: {style: "width : 20%;"}

    = f.input :wechat,input_html: {style: "width : 20%;"}

    = f.input :work_day,as: :string,input_html: {readonly: true,
      "data-provide" => "datepicker",
      "data-date-format" => "yyyy-mm-dd",
      "data-date-language" => "zh-CN",
      style: "width : 15%;"}

    = f.input :post,input_html: {style: "width : 40%;"}

    = f.input :post_level,as: :select,collection: post_levels_for_select,label: "职级",include_blank: false,input_html: {style: "width : 40%;"}

    = f.input :user_id,as: :select,collection: users_for_select,label: "关联用户",input_html: {style: "width : 30%;"}

    = f.input :is_party_member,as: :boolean,label: false

    = f.input :belongs_party,as: :select,collection: parties_for_select,label: "所属支部",input_html: {style: "width : 30%;"}

    = f.input :work_state,as: :select,collection: work_states_for_select,label: "工作状况",include_blank: false,input_html: {style: "width : 30%;"}

    = f.input :is_not_main,as: :boolean,label: false
    = f.input :is_active,as: :boolean,label: false

  = f.inputs "工资项目" do
    %table.table.table-condensed.table-bordered.wage-item-leader{style: "display: none;"}
      %tr
        %th 发放标准
        %th= f.input :grant_rate,label: false,input_html: {class: "input-sm",style: "width : 30%;"}
        %th 前年核定工资
        %th= f.input :wage_before_last,label: false,input_html: {class: "input-sm",style: "width : 30%;"}
        %th 去年核定工资
        %th= f.input :wage_last,label: false,input_html: {class: "input-sm",style: "width : 30%;"}
      %tr
        %th 基本工资
        %th= f.input :basic_salary,label: false,input_html: {class: "input-sm",style: "width : 30%;"}
        %th 绩效工资
        %th= f.input :pref_salary,label: false,input_html: {class: "input-sm",style: "width : 30%;"}
        %th
        %th
    / 在岗
    %table.table.table-condensed.table-bordered.wage-item-on-duty
      %tr
        %th 月度绩效基数
        %th= f.input :mth_pref_base,label: false,input_html: {class: "input-sm",style: "width : 30%;"}
        %th 年度绩效基数 
        %th= f.input :year_pref_base,label: false,input_html: {class: "input-sm",style: "width : 30%;"}
        %th 绩效系数
        %th= f.input :pref_rate,label: false,input_html: {class: "input-sm",style: "width : 30%;"}
      %tr
        %th 岗位工资
        %th= f.input :post_salary,label: false,input_html: {class: "input-sm",style: "width : 30%;"}
        %th 绩效工资
        %th= f.input :pref_salary,label: false,input_html: {class: "input-sm",style: "width : 30%;"}
        %th
        %th
    %table.table.table-condensed.table-bordered.wage-item-retired{style: "display: none;"}
      %tr
        %th 生活费基数
        %th= f.input :living_base,label: false,input_html: {class: "input-sm",style: "width : 30%;"}
        %th 生活费系数
        %th= f.input :living_salary_rate,label: false,input_html: {class: "input-sm",style: "width : 30%;"}
        %th 生活费
        %th= f.input :living_salary,label: false,input_html: {class: "input-sm",style: "width : 30%;"}



