.box.box-default
  .box-header.with-border
    %h3.box-title 查询
  .box-body
    = semantic_search_form_for resource_class.ransack,html: {id: "search_employee_form",method: :get,style: "width : 400px;" } do |f|
      = f.input :org_id_eq,as: :select,collection: current_ability_orgs_for_select,label: "所属机构"
      = f.input :name_cont,label: "姓名"
      = f.input :mobile_cont,label: "手机"
      = f.actions do
        = f.action :submit,label: "查询", :button_html => { :class => "btn btn-primary", :disable_with => '稍等...'}


