.box.box-default{:style => "width : 300px;"}
  .box-header.with-border
    %h3.box-title 新建工资表
  .box-body
    = form_tag new_salary_table_path,id: "form_salary_table_before_new",multipart: true,method: :get do
      .form-group
        = label_tag :org_id,"部门"
        = select_tag :org_id,options_for_select(current_ability_orgs_for_select),:include_blank => false,class: "form-control input-sm"
      .form-group
        = label_tag :mth,"月份"
        = select_tag :mth,options_for_select(months_for_select),:include_blank => false,class: "form-control input-sm"
        = hidden_field_tag :salary_item_header_id,params[:salary_item_header_id]

      %button.btn.btn-primary.btn-info.btn-import-salary-table-xls{:type => "submit"}
        确定
        %i.fa.fa-check


