= semantic_form_for resource,html: {class: "form-inline enter2tab",id: "#{resource_class.name.underscore}_form"} do |f|
  = f.semantic_errors *f.object.errors.keys
  -# = f.input :org_id,as: :select,collection: current_ability_orgs_for_select,label: false,:include_blank => false,input_html: {class: "input-sm"}
  = f.hidden_field :user_id,value: current_user.id
  = f.input :org_id,as: :hidden
  = f.input :mth,as: :hidden
  = f.input :salary_item_header_id,as: :hidden

  .table-responsive
    %table#salary_table_form_table.table.table-condensed.table-bordered
      %thead
        %tr
          %th{:colspan => 100}
            = f.text_field :name,placeholder: "工资表名称",style: "width : 100%;text-align: center;"
        %tr
          %th{colspan: 8}
            机构名称:
            = resource.org
          %th{colspan: 4}
            月份:
            = resource.mth
          %th{:colspan => 100}
        = resource.salary_item_header.table_header.html_safe
        = f.semantic_fields_for :salary_table_lines do |f_line|
          %tr.salary-table-line
            %th
              = f_line.input :employee_id,as: :hidden,input_html: {col: "employee_id"}
              = f_line.input :name,as: :hidden,input_html: {col: "name"}
              = f_line.input :id_no,as: :hidden,input_html: {col: "id_no"}
              = f_line.input :post,as: :hidden,input_html: {col: "post"}
              = f_line.input :post_level,as: :hidden,input_html: {col: "post_level"}
              = f_line.input :is_party_member,as: :hidden,input_html: {col: "is_party_member"}
              = f_line.input :belongs_party,as: :hidden,input_html: {col: "belongs_party"}
              = f_line.input :is_not_main,as: :hidden,input_html: {col: "is_not_main"}
              = f_line.input :grant_rate, as: :hidden,input_html: {col: "grant_rate"}
              = f_line.input :wage_before_last, as: :hidden,input_html: {col: "wage_before_last"}
              = f_line.input :wage_last,as: :hidden,input_html: {col: "wage_last"}
              = f_line.input :basic_salary,as: :hidden,input_html: {col: "basic_salary"}
              = f_line.input :pref_salary,as: :hidden,input_html: {col: "pref_salary"}
              = f_line.input :mth_pref_base,as: :hidden,input_html: {col: "mth_pref_base"}
              = f_line.input :year_pref_base,as: :hidden,input_html: {col: "year_pref_base"}
              = f_line.input :pref_rate,as: :hidden,input_html: {col: "pref_rate"}
              = f_line.input :post_salary,as: :hidden,input_html: {col: "post_salary"}
              = f_line.input :living_base,as: :hidden,input_html: {col: "living_base"}
              = f_line.input :living_salary_rate,as: :hidden,input_html: {col: "living_salary_rate"}
              = f_line.input :living_salary,as: :hidden,input_html: {col: "living_salary"}

            - resource.salary_item_header.salary_items.where(is_active: true).each do |item|
              %td{:style => "text-align : center;vertical-align : middle;"}
                - if item.item_type.eql?("employee_item")
                  = f_line.object.try(item.formula.to_sym)

                - if item.item_type.eql?("pay_item") or item.item_type.eql?('deduct_item') or item.item_type.eql?('note_item')
                  = f_line.input item.code,as: :string,label: false,
                    input_html: {"data-item" => item.to_json,
                    is_calculate: item.is_calculate,
                    col: item.code,
                    class: "input-salary-item input-sm",
                    style: "width : 50px;",
                    readonly: item.is_calculate}
