%table.table.table-condensed.table-bordered
  %thead
    %tr
      %th{:colspan => 100,:style => "text-align : center;vertical-align : middle;"}
        %h3= resource.name
    %tr
      %th{colspan: 25}
        机构名称:
        = resource.org
      %th{colspan: 100}
        月份:
        = resource.mth


  = resource.salary_item_header.table_header.html_safe

  - resource.salary_table_lines.each_with_index do |line,idx|
    %tr
      %th{:style => "text-align : center;vertical-align : middle;"}= idx+1
      %th{:style => "text-align : center;vertical-align : middle;"}= line.org.try(:name)
      - resource.salary_item_header.salary_items.where(is_active: true).each do |item|
        %td{:style => "text-align : center;vertical-align : middle;"}
          - if item.item_type.eql?("employee_item")
            = line.try(item.formula.to_sym)

          - if item.item_type.eql?("pay_item") or item.item_type.eql?('deduct_item') or item.item_type.eql?('note_item')
            = line.try(item.code.to_sym)
  %tfoot
    %tr{style: "color: red;font-weight: bold;"}
      %td{colspan: 2} 合计:
      - resource.salary_item_header.salary_items.where(is_active: true).each do |item|
        %td{:style => "text-align : center;vertical-align : middle;"}
          - if item.item_type.eql?("employee_item")
            &nbsp;

          - if item.item_type.eql?("pay_item") or item.item_type.eql?('deduct_item')
            = resource.salary_table_lines.sum(item.code.to_sym)
