= semantic_form_for @web_app do |f|
  = f.inputs do
    = f.input :name
    = f.input :el_username
    = f.input :el_password
    = f.input :is_active

  = f.actions do
    = f.action :submit, :as => :input
