.panel.panel-default
  .panel-heading
    = @web_app.name
  .panel-body
    %p
      %b El username:
      = @web_app.form_el_username
    %p
      %b El password:
      = @web_app.form_el_password
    %p
      %b form method:
      = @web_app.form_method
    %p
      %b form action:
      = @web_app.form_action
    %p
      %b form url:
      = @web_app.form_url
    %p
      %b 直接登录 url:
      = @web_app.direct_login_url

    %p
      %b 有效:
      = @web_app.is_active
