= semantic_form_for resource,html: {id: "protect_equipment_form"} do |f|
  = f.inputs do
    / = f.input :org_id,as: :select,collection: current_ability_orgs_for_select,include_blank: false,input_html: {style: "width : 30%;"}
    = render "shared/org_select_in_form",f: f
    = f.input :protect_equipment_category_id,as: :select,collection: protect_equipment_categories_for_select,include_blank: false,input_html: {style: "width : 30%;"}
    = f.input :name,input_html: {style: "width : 30%;"}
    = f.input :deliver_org_id,as: :select,collection: current_ability_orgs_for_select,include_blank: false,input_html: {style: "width : 30%;"}
    = f.input :post,as: :select,collection: posts_for_select,include_blank: false,input_html: {style: "width : 30%;"}

    = f.input :qty,input_html: {style: "width : 30%;"}

    = f.input :unit_id,as: :select,collection: units_for_select,include_blank: false,input_html: {style: "width : 30%;"}

    = f.input :save_days,input_html: {style: "width : 30%;"}
    = f.input :maintain_days,input_html: {style: "width : 30%;"}

    = f.input :is_active,label: false

    = f.input :note,input_html: {rows: 2,style: "width : 40%;"}
