= semantic_form_for resource,html: {id: "#{resource_class.name.underscore}_form",class: "enter2tab"} do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    = f.input :user_id,as: :hidden,input_html: {value: current_user.id}
    = f.input :check_state,as: :hidden,input_html: {value: "draft",style: "width : 30%;"}
    = f.input :org_id,as: :select,collection: current_ability_orgs_for_select,label: false,include_blank: false,input_html: {style: "width : 30%;"}
  .table-responsive
    %table.table.table-condensed.table-striped.table-bordered.table-hover
      %tr{style: "text-align: center;"}
        %th{style: "text-align: center;"} 用户名
        %th{style: "text-align: center;"} 密码
        %th{style: "text-align: center;"} ip
        %th{style: "text-align: center;"} 部门
        %th{style: "text-align: center;"} 责任人
        %th{style: "text-align: center;"} 电话
        %th{style: "text-align: center;"} 权限
        %th{style: "text-align: center;"} 备注
        %th
      %tbody
        = f.semantic_fields_for :vpn_info_lines do |f_line|
          %tr.vpn-info-line
            %td= f_line.input :username,label: false,input_html: {class: "input-sm"}
            %td= f_line.input :pwd,label: false,input_html: {class: "input-sm"}
            %td= f_line.input :ip,label: false,input_html: {class: "input-sm"}
            %td
              = f_line.input :own_org_id,as: :select,collection: current_children_orgs_for_select,
                label: false,input_html: {class: "input-sm"}
            %td= f_line.input :employee_name,label: false,input_html: {class: "input-sm"}
            %td= f_line.input :mobile,label: false,input_html: {class: "input-sm"}
            %td= f_line.input :power,label: false,input_html: {class: "input-sm"}
            %td= f_line.input :note,label: false,as: :string,input_html: {class: "input-sm"}
            %td{style: "text-align : center;"}
              = f_line.hidden_field :_destroy,class: "destroy"
              %a{href: "#",class: "btn btn-default btn-sm btn-delete-vpn-info-line",style: "color: red;"}
                %i.fa.fa-close

      %tbody#vpn_info_line_tmpl_wrapper

  .well.well-sm.clearfix
    = link_to  "#",class: "btn-add-new-vpn-info-line btn btn-primary btn-sm pull-right" do
      %i.fa.fa-plus
      新建行
