.box.box-default.box-solid.box-info
  .box-header
    %h4.box-title 查询
  .box-body
    = semantic_search_form_for VpnInfoLine.ransack,url: {action: :search_lines},html: {id: "search_vpn_info_header_line_form",method: :get,style: "width : 400px;" } do |f|
      = f.input :vpn_info_org_id_eq,as: :select,collection: current_ability_orgs_for_select,label: "所属机构",input_html: {class: "input-sm"}
      = f.input :own_org_id_eq,as: :select,collection: current_children_orgs_for_select,label: "科室",input_html: {class: "input-sm"}
      = f.input :employee_name_eq,label: "姓名",input_html: {class: "input-sm"}
      = f.input :username_eq,label: "用户名",input_html: {class: "input-sm"}
      = f.input :ip_eq,label: "IP地址",input_html: {class: "input-sm"}
      = f.input :mobile_eq,label: "手机",input_html: {class: "input-sm"}
      = f.actions do
        = f.action :submit,label: "查询", :button_html => { :class => "btn btn-sm btn-primary", data: {disable_with: '稍等...'}}


