= semantic_form_for resource,html: {id: "reward_form"} do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.hidden_field :user_id,value: current_user.id
  = f.hidden_field :check_state,value: "draft"
  %table#training_form_table.table.table-condensed.table-bordered
    %tr
      %th 上报机构
      %td= f.select :org_id,current_ability_orgs_for_select,{include_blank: false},:class => "form-control input-sm"
      %th 上报时间
      %td
        = f.input :table_date,as: :string,label: false,input_html: {class: "input-sm",readonly: true,
          :style => "width : 40%;",
          "data-provide" => "datepicker",
          "data-date-format" => "yyyy-mm-dd","data-date-language" => "zh-CN"}
    %tr
      %th 表彰项目
      %td{:colspan => 3}= f.input :name,label: false,input_html: {class: "input-sm",style: "width : 80%"}
    %tr
      %th{:colspan => 4} 表彰描述
    %tr
      %td{:colspan => 4}
        = f.input :note,label: false,input_html: {cols: 12,rows: 4}

    %tr
      %th{:colspan => 4} 照片
    %tr
      %td= f.input :photo_1,as: :file,label: false
      %td= f.input :photo_2,as: :file,label: false
      %td= f.input :photo_3,as: :file,label: false
      %td= f.input :photo_4,as: :file,label: false
