= render "search"
%table#stock_table.table.table-bordered.table-hover.table-condensed.table-stripped{:style => "text-align: center;vertical-align : middle;"}
  %thead
    %tr
      %th{style: "text-align : center;"} 序号
      %th 库位
      %th 设备名称
      %th{style: "text-align : center;"} 单位
      %th{style: "text-align : center;"} 编号
      %th 品牌
      %th 型号
      %th{style: "text-align : center;"} 科室
      %th{style: "text-align : center;"} 责任人
      %th{style: "text-align : center;"} 数量
  %tbody
    - collection.each_with_index do |t,i|
      %tr
        %td= i+1
        %td= t.location
        %td= t.equipment.name
        %td= t.equipment.try(:unit).try(:name)
        %td= t.no
        %td= t.equipment.try(:brand)
        %td= t.equipment.try(:model)
        %td= t.try(:own_org)
        %td= t.try(:duty_person)
        %td= t.qty

= will_paginate collection, renderer: BootstrapPagination::Rails,previous_label: t("previous"), next_label: t("next")
