<%= semantic_form_for resource ,:html => {id: "user_form"} do |f|%>
  <%= f.input :username,input_html: {style: "width : 30%;"} %>
  <%= f.input :real_name,input_html: {style: "width : 30%;"} %>
  <%= f.input :password,input_html: {style: "width : 30%;"}  %>
  <%= f.input :password_confirmation,input_html: {style: "width : 30%;"}  %>
  <%= f.input :is_admin,label: false%>
  <%= f.input :is_active,label: false%>
  <%= f.inputs "选择角色" do %>
    <%= f.semantic_fields_for :user_roles,resource.all_user_roles! do |user_role| %>
      <%= user_role.hidden_field :role_id %>
      <%= user_role.check_box :is_select%>
      <%= user_role.label :is_select,user_role.object.role.name%>
    <%end%>
  <%end%>
  <%=f.inputs "可访问机构" do %>
    <table class="table">
      <%=f.semantic_fields_for :user_orgs,resource.all_user_orgs!.select { |user_org| user_org.org.parent_id.blank?} do |user_org|%>
        <%= render "user_org_recursive",:user_org => user_org,:f => f %>
      <%end%>
    </table>
  <%end%>
<%end%>
