%section.content-header
  %h3= "修改密码"

<!-- Main content -->
%section.content
  .row
    .col-md-12.col-sm-12.col-xs-12
      .box.box-info
        .box-body{style: "overflow-x : scroll;"}
          %div
            = semantic_form_for current_user,url: update_password_users_path,method: :put do |f|
              = f.semantic_errors *f.object.errors.keys
              = f.inputs do
                = f.input :current_password,:as => :password
                = f.input :password,:as => :password
                = f.input :password_confirmation,:as => :password
              = f.actions do
                = f.action :submit,:label => "更新密码",:button_html => { :class => "btn btn-primary btn-sm",:disable_with => '正在更新...' }
