= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.input :user_name, required: true, autofocus: true,placeholder: "用户名",label: "用户名"
  = f.input :phone, required: true, autofocus: true,placeholder: "手机",label: "手机"
  = f.input :email, required: true, autofocus: true,placeholder: "example@a.com",label: "邮箱"
  = f.input :password,label: "密码",hint: "最少#{@minimum_password_length} 个字符" if @validatable
  = f.input :password_confirmation,label: "验证密码"

  = f.actions do
    = f.submit "保存注册信息",:class => "btn btn-primary signup"
