/ 设备列表
%script#equipment_list_temp{:type => "text/html"}
  %tr
    %td
      %input{:type => "checkbox",:class=> "cbx-select-equipment","data-value" => "id"}
    %td
      %span{class:"name","data-content" => "name"}
    %td
      %span{class: "equipment_category_name","data-content" => "equipment_category_name"}
    %td
      %span{class: "unit_name","data-content" => "unit_name"}
    %td
      %span{class: "factory_name","data-content" => "factory_name"}
    %td
      %span{class: "model","data-content" => "model"}
    %td
      %span{class: "purchase_price","data-content" => "purchase_price"}

/ 库存设备列表
%script#stock_list_temp{:type => "text/html"}
  %tr
    %td
      %input{:type => "checkbox",:class=> "cbx-select-stock","data-value" => "equipment_id"}
    %td
      %span{class:"no","data-content" => "no"}
    %td
      %span{class:"name","data-content" => "equipment_name"}
    %td
      %span{class: "equipment_category_name","data-content" => "equipment_category_name"}
    %td
      %span{class: "unit_name","data-content" => "unit_name"}
    %td
      %span{class: "brand","data-content" => "brand"}
    %td
      %span{class: "model","data-content" => "model"}
    %td
      %span{class: "qty","data-content" => "qty"}
    %td
      %span{class: "purchase_price","data-content" => "purchase_price"}
    -# %td
    -#   %span{class: "own_org","data-content" => "own_org"}
    -#   %input{class: "own_org_id",type: "hidden","data-value" => "own_org_id"}
    -# %td
    -#   %span{class: "duty_person","data-content" => "duty_person"}
    -#


%script#inout_line_temp{:type => "text/html"}
  %tr{class: "tr-inout-line"}
    %td
      %input{type: "hidden","data-value" => "equipment_id",class: "equipment_id"}
      %span{class:"name","data-content" => "name"}

    %td{style: "text-align : center;"}
      %span{class: "unit_name","data-content" => "unit_name"}

    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",class: "no form-control input-sm","data-content" => "line_no"}

    %td
      %input{type: "text",style: "width : 100px;",class: "brand form-control input-sm","data-value" => "factory_name"}

    %td
      %input{type: "text",style: "width : 100px;",class: "model form-control input-sm","data-value" => "model"}

    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",class: "purchase_date form-control input-sm","data-provide" => "datepicker","data-date-format" => "yyyy-mm-dd","data-date-language" => "zh-CN",readonly: true,"data-value" => "purchase_price"}

    %td
      = select_tag :own_org_id,options_for_select(current_children_orgs_for_select),include_blank: false,class: "own_org_id form-control input-sm"
    %td
      %input{type: "text",style: "width : 100px;",class: "duty_person form-control input-sm" }

    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",class: "qty form-control input-sm",value: 1}

    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",class: "note form-control input-sm"}

    -# %td
    -#   %input{type: "text",style: "width : 100px;",class: "price form-control input-sm" }
    -#
    -# %td{style: "text-align : center;"}
    -#   %span{class: "amt","data-content" => "amt"}

    %td{style: "text-align : center;"}
      %input{type: "hidden",class: "destroy"}
      %a{href: "#",class: "btn-delete-inout-line",style: "color: red;"}
        %i.fa.fa-close

%script#inout_line_simple_temp{:type => "text/html"}
  %tr{class: "tr-inout-line"}
    %td
      %input{type: "hidden","data-value" => "equipment_id",class: "equipment_id"}
      %span{class:"name","data-content" => "name"}

    %td{style: "text-align : center;"}
      %span{class: "unit_name","data-content" => "unit_name"}

    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",class: "no form-control input-sm","data-value" => "line_no"}

    %td
      %input{type: "text",style: "width : 100px;",class: "brand form-control input-sm","data-value" => "factory_name"}

    %td
      %input{type: "text",style: "width : 100px;",class: "model form-control input-sm","data-value" => "model"}

    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",class: "qty form-control input-sm",value: 1}

    %td
      %input{type: "text",style: "width : 100px;",class: "price form-control input-sm","data-value" => "purchase_price" }

    %td{style: "text-align : center;"}
      %span{class: "amt","data-content" => "amt"}

    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",class: "note form-control input-sm"}

    %td{style: "text-align : center;"}
      %input{type: "hidden",class: "destroy"}
      %a{href: "#",class: "btn-delete-inout-line",style: "color: red;"}
        %i.fa.fa-close

%script#po_line_simple_temp{:type => "text/html"}
  %tr{class: "tr-po-line"}
    %td
      %input{type: "hidden","data-value" => "equipment_id",class: "equipment_id"}
      %span{class:"name","data-content" => "name"}

    %td{style: "text-align : center;"}
      %span{class: "unit_name","data-content" => "unit_name"}

    %td
      %input{type: "text",class: "brand form-control input-sm","data-value" => "factory_name"}

    %td
      %input{type: "text",class: "model form-control input-sm","data-value" => "model"}

    %td{style: "text-align : center;"}
      %input{type: "text",class: "qty form-control input-sm",value: 1}

    %td
      %input{type: "text",class: "price form-control input-sm","data-value" => "purchase_price" }

    %td{style: "text-align : center;"}
      %span{class: "amt","data-content" => "amt"}

    %td{style: "text-align : center;"}
      %input{type: "text",class: "note form-control input-sm"}

    %td{style: "text-align : center;"}
      %input{type: "hidden",class: "destroy"}
      %a{href: "#",class: "btn-delete-po-line",style: "color: red;"}
        %i.fa.fa-close

/ 出库明细模板
%script#inout_line_simple_temp_for_out{:type => "text/html"}
  %tr{class: "tr-inout-line"}
    %td
      %input{type: "hidden","data-value" => "equipment_id",class: "equipment_id"}
      %span{class:"name","data-content" => "name"}

    %td{style: "text-align : center;"}
      %span{class: "unit_name","data-content" => "unit_name"}

    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",readonly: true,class: "no form-control input-sm","data-value" => "line_no"}

    %td
      %input{type: "text",style: "width : 100px;",readonly: true,class: "brand form-control input-sm","data-value" => "factory_name"}

    %td
      %input{type: "text",style: "width : 100px;",readonly: true,class: "model form-control input-sm","data-value" => "model"}

    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",class: "qty form-control input-sm",value: 1,readonly: true}

    %td
      %input{type: "text",style: "width : 100px;",class: "price form-control input-sm" }

    %td{style: "text-align : center;"}
      %span{class: "amt","data-content" => "amt"}

    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",class: "note form-control input-sm"}

    %td{style: "text-align : center;"}
      %input{type: "hidden",class: "destroy"}
      %a{href: "#",class: "btn-delete-inout-line",style: "color: red;"}
        %i.fa.fa-close

/ 领用模板
%script#inout_line_temp_for_receive{:type => "text/html"}
  %tr{class: "tr-inout-line"}
    %td
      %input{type: "hidden","data-value" => "equipment_id",class: "equipment_id"}
      %span{class:"name","data-content" => "name"}

    %td{style: "text-align : center;"}
      %span{class: "unit_name","data-content" => "unit_name"}

    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",readonly: true,class: "no form-control input-sm","data-value" => "line_no"}

    %td
      %input{type: "text",style: "width : 100px;",readonly: true,class: "brand form-control input-sm","data-value" => "factory_name"}

    %td
      %input{type: "text",style: "width : 100px;",readonly: true,class: "model form-control input-sm","data-value" => "model"}

    %td
      = select_tag :own_org_id,options_for_select(current_children_orgs_for_select),include_blank: false,class: "own_org_id form-control input-sm"

    %td
      %input{type: "text",style: "width : 100px;",class: "duty_person form-control input-sm" }

    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",class: "qty form-control input-sm",value: 1}


    -# %td
    -#   %input{type: "text",style: "width : 100px;",class: "price form-control input-sm" }
    -#
    -# %td{style: "text-align : center;"}
    -#   %span{class: "amt","data-content" => "amt"}
    -#
    %td{style: "text-align : center;"}
      %input{type: "text",style: "width : 100px;",class: "note form-control input-sm"}

    %td{style: "text-align : center;"}
      %input{type: "hidden",class: "destroy"}
      %a{href: "#",class: "btn-delete-inout-line",style: "color: red;"}
        %i.fa.fa-close

/ ip地址模板
%script#ip_info_line_tmpl{:type => "text/html"}
  %tr{class: "ip-info-line"}
    %td
      = select_tag :org_id,options_for_select(current_children_orgs_for_select),include_blank: false,class: "own_org_id form-control input-sm"
      = hidden_field_tag :state,'draft'

    %td{style: "text-align : center;"}
      %input{type: "text",class: "post form-control input-sm","data-value" => "post"}

    %td{style: "text-align : center;"}
      %input{type: "text",class: "employee_name form-control input-sm","data-value" => "employee_name"}

    %td
      %input{type: "text",class: "ip form-control input-sm","data-value" => "ip"}

    %td
      %input{type: "text",class: "mac form-control input-sm","data-value" => "mac"}

    %td
      = select_tag :net_type,options_for_select(net_types_for_select),include_blank: false,class: "org_id form-control input-sm"

    %td{style: "text-align : center;"}
      %input{type: "text",class: "note form-control input-sm","data-value" => "note"}

    %td{style: "text-align : center;"}
      = hidden_field_tag :_destroy,class: "destroy"
      %a{href: "#",class: "btn-delete-ip-info-line",style: "color: red;"}
        %i.fa.fa-close

/ vpn地址模板
%script#vpn_info_line_tmpl{:type => "text/html"}
  %tr{class: "vpn-info-line"}
    %td{style: "text-align : center;"}
      %input{type: "text",class: "username form-control input-sm","data-value" => "username"}

    %td{style: "text-align : center;"}
      %input{type: "text",class: "pwd form-control input-sm","data-value" => "pwd"}

    %td
      %input{type: "text",class: "ip form-control input-sm","data-value" => "ip"}
    %td
      = select_tag :own_org_id,options_for_select(current_children_orgs_for_select),include_blank: false,class: "own_org_id form-control input-sm"

    %td{style: "text-align : center;"}
      %input{type: "text",class: "employee_name form-control input-sm","data-value" => "employee_name"}

    %td
      %input{type: "text",class: "mobile form-control input-sm","data-value" => "mobile"}
    %td
      %input{type: "text",class: "power form-control input-sm","data-value" => "power"}

    %td{style: "text-align : center;"}
      %input{type: "text",class: "note form-control input-sm","data-value" => "note"}

    %td{style: "text-align : center;"}
      = hidden_field_tag :_destroy,class: "destroy"
      %a{href: "#",class: "btn btn-default btn-sm btn-delete-vpn-info-line",style: "color: red;"}
        %i.fa.fa-close
/ company vpn地址模板
%script#company_vpn_line_tmpl{:type => "text/html"}
  %tr{class: "company-vpn-line"}
    %td{style: "text-align : center;"}
      %input{type: "text",class: "username form-control input-sm","data-value" => "username"}

    %td{style: "text-align : center;"}
      %input{type: "text",class: "employee_name form-control input-sm","data-value" => "employee_name"}

    %td
      = select_tag :own_org_id,options_for_select(current_children_orgs_for_select),include_blank: false,class: "own_org_id form-control input-sm"

    %td{style: "text-align : center;"}
      %input{type: "text",class: "post form-control input-sm","data-value" => "post"}

    %td
      %input{type: "text",class: "mobile form-control input-sm","data-value" => "mobile"}
    %td
      = select_tag :power,options_for_select(powers_for_select),include_blank: false,class: "power form-control input-sm"

    %td{style: "text-align : center;"}
      = hidden_field_tag :_destroy,class: "destroy"
      %a{href: "#",class: "btn btn-default btn-sm btn-delete-company-vpn-line",style: "color: red;"}
        %i.fa.fa-close

/ 无线上网设备MAC地址表
%script#wifi_client_line_tmpl{:type => "text/html"}
  %tr{class: "wifi-client-line"}
    %td{style: "text-align : center;"}
      %input{type: "text",class: "username form-control input-sm","data-value" => "username"}
    %td
      = select_tag :own_org_id,options_for_select(current_children_orgs_for_select),include_blank: false,class: "own_org_id form-control input-sm"

    %td{style: "text-align : center;"}
      %input{type: "text",class: "dev_type form-control input-sm","data-value" => "dev_type"}

    %td{style: "text-align : center;"}
      %input{type: "text",class: "mac form-control input-sm","data-value" => "mac"}

    %td{style: "text-align : center;"}
      = hidden_field_tag :_destroy,class: "destroy"
      %a{href: "#",class: "btn btn-default btn-sm btn-delete-wifi-client-line",style: "color: red;"}
        %i.fa.fa-close
