.box.box-default.box-solid.box-info
  .box-header
    %h4.box-title 查询
  .box-body
    = semantic_search_form_for WifiClientLine.ransack,url: {action: :search_lines},html: {id: "search_wifi_client_line_form",method: :get,style: "width : 400px;" } do |f|
      = f.input :wifi_client_org_id_eq,as: :select,collection: current_ability_orgs_for_select,label: "所属机构",input_html: {class: "input-sm"}
      = f.input :own_org_id_eq,as: :select,collection: current_children_orgs_for_select,label: "科室",input_html: {class: "input-sm"}
      = f.input :username_eq,label: "用户名",input_html: {class: "input-sm"}
      = f.input :mac_eq,label: "MAC地址",input_html: {class: "input-sm"}
      = f.input :dev_type_cont,label: "设备类型",input_html: {class: "input-sm"}
      = f.actions do
        = f.action :submit,label: "查询", :button_html => { :class => "btn btn-sm btn-primary", data: {disable_with: '稍等...'}}


