.table-responsive
  %table.table.table-condensed.table-bordered.table-striped.table-hover
    %tr
      %th{style: "text-align: center;",colspan: 5}
        = "#{resource.org}无线上网设备MAC地址管理表"
    %tr
      %td{style: "text-align: right;",colspan: 4}
        = resource.updated_at.strftime("%Y-%m-%d")
      %td{style: "text-align: right;"}
        %label{class: resource.check_state_class}= resource.check_state_des
    %tr
      %th{style: "text-align: center;"} 序号
      %th{style: "text-align: center;"} 姓名
      %th{style: "text-align: center;"} 科室
      %th{style: "text-align: center;"} 设备类型
      %th{style: "text-align: center;"} MAC地址
    - resource.wifi_client_lines.each_with_index do |line,idx|
      %tr
        %td{style: "text-align: center;"}= idx+1
        %td= line.username
        %td{style: "text-align: center;"}= line.own_org
        %td{style: "text-align: center;"}= line.dev_type
        %td{style: "text-align: center;"}= line.mac
