%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th 采购订单号:
    %td
      = @po_header.segment1
    %th 采购员:
    %td
      = @po_header.agent_name
  %tr
    %th 供应商:
    %td{:colspan => 3}
      = @po_header.vendor_name
  %tr
    %th 供应商地点:
    %td{:colspan => 3}
      = @po_header.vendor_site_code


  %tr
    %th 不含税金额:
    %td{:colspan => 3}
      = @po_header.total_fee_without_tax.to_i
  %tr
    %th 含税金额:
    %td{:colspan => 3}
      = @po_header.total_fee.to_i

  %tr
    %th 付款方式:
    %td{:colspan => 3}
      = @po_header.payment_terms
  %tr
    %th 摘要:
    %td.vert-align_td{:colspan => 3}
      = @po_header.comments
  -# %tr
  -#   %th 预算总额:
  -#   %td
  -#     = @cux_demand.bugdet_total
  -#
  -#   %th 已审批额:
  -#   %td
  -#     = @cux_demand.bugdet_demand_total
