.table-responsive
  %table.table.table-condensed.table-bordered.table-stripped.table-hover
    %thead
      %tr
        %th{style: "text-align : center;"} 设备名称
        %th{style: "text-align : center;"} 单位
        %th{style: "text-align : center;"} 品牌
        %th{style: "text-align : center;"} 型号
        %th{style: "text-align : center;"} 数量
        %th{style: "text-align : center;"} 单价
        %th{style: "text-align : center;"} 金额
        %th{style: "text-align : center;"} 备注
        %th{style: "text-align : center;"} 操作
      %tbody
        = f.semantic_fields_for :po_lines do |f_line|
          %tr{class: "tr-po-line"}
            %td
              = f_line.object.try(:equipment).try(:name)
              = f_line.input :equipment_id,as: :hidden
            %td{style: "text-align : center;"}
              = f_line.object.equipment.try(:unit).try(:name)
            %td
              = f_line.input :brand,label: false,input_html: {class: "input-sm",style: "width:  120px;"}
            %td
              = f_line.input :model,label: false,input_html: {class: "input-sm",style: "width:  120px;"}
            %td
              = f_line.input :qty,label: false,input_html: {class: "input-sm",style: "width: 100px;"}
            %td
              = f_line.input :price,label: false,input_html: {class: "input-sm",style: "width: 20%;"}
            %td{style: "text-align : center;"}
              %span{:class => "amt"}
            %td
              = f_line.input :note,label: false,input_html: {class: "input-sm",style: "width: 150px;"}
            %td{style: "text-align : center;"}
              = f_line.hidden_field :_destroy,class: "destroy"
              %a{href: "#",class: "btn-delete-po-line",style: "color: red;"}
                %i.fa.fa-close
      %tbody#po_line_temp_wrapper
