= render "search"
.table-responsive
  %table#safety_table.table.table-bordered.table-hover.table-condensed.table-striped{:style => "text-align: center;vertical-align : middle;"}
    %thead
      %tr
        %th{style: "text-align: center;background: #3C8DBC;width: 50px;",rowspan: 3}  报出年月
        %th{style: "text-align: center;background: #3C8DBC;"} 
        %th{:colspan => 4,style: "text-align: center;background: #3C8DBC;"} 安全检查
        %th{:colspan => 3,style: "text-align: center;background: #3C8DBC;"} 隐患整改
        %th{:colspan => 7,style: "text-align: center;background: #3C8DBC;"} 安全教育
        %th{:colspan => 6,style: "text-align: center;background: #3C8DBC;"} 安保投入(万元)
        %th{:colspan => 3,style: "text-align: center;background: #3C8DBC;"} 专题安全会议
        %th{style: "text-align: center;background: #3C8DBC;"}
      %tr
        %th{:rowspan => 2,style: "text-align: center;background: #F1F1F1;width: 150px;"} 管辖单位
        %th{:rowspan => 2,style: "text-align: center;background: #F1F1F1;"} 次数
        %th{:colspan => 3,style: "text-align: center;background: #F1F1F1;"} 其中
        %th{:rowspan => 2,style: "text-align: center;background: #F1F1F1;"} 查出隐患处数
        %th{:rowspan => 2,style: "text-align: center;background: #F1F1F1;"} 已整改处数
        %th{:rowspan => 2,style: "text-align: center;background: #F1F1F1;"} 整改率(%)
        %th{:colspan => 2,style: "text-align: center;background: #F1F1F1;"} 三级教育
        %th{:colspan => 2,style: "text-align: center;background: #F1F1F1;"} 特种工教育
        %th{:colspan => 3,style: "text-align: center;background: #F1F1F1;"} 全员教育
        %th{:rowspan => 2,style: "text-align: center;background: #F1F1F1;"} 总金额
        %th{:colspan => 5,style: "text-align: center;background: #F1F1F1;"} 其中
        %th{:rowspan => 2,style: "text-align: center;background: #F1F1F1;"}  次数
        %th{:rowspan => 2,style: "text-align: center;background: #F1F1F1;"}  参加人数
        %th{:rowspan => 2,style: "text-align: center;background: #F1F1F1;"}  解决问题数
        %th{:rowspan => 2,style: "text-align: center;background: #F1F1F1;"}
      %tr
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"} 安全检查
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  专题检查
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  夜间抽查
  
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  参加人数
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  占应参加人数
  
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  参加人数
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  占应参加人数
  
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  人次
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  不重复人数
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  占全员(%)
  
  
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  购置器材
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  安保设施
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  隐患整改
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  安保教育
        %th{style: "text-align: center;background: #F1F1F1;width: 50px;"}  安保奖励
      %tbody
        - collection.each do |t|
          %tr
            %td= t.mth
            %td= t.org
            %td= t.sum_safety_check_count
            %td= t.safety_check_count
            %td= t.special_safety_check_count
            %td= t.evening_safety_check_count
  
            %td= t.danger_count
            %td= t.fixed_danger_count
            %td= t.fixed_danger_rate
  
            %td= t.third_edu_persons
            %td= t.third_edu_percent
  
            %td= t.special_worker_edu_persons
            %td= t.special_worker_edu_percent
  
            %td= t.common_edu_persons
            %td= t.no_duplicate_persons
            %td= t.common_edu_percent
  
            %td= t.sum_invest
            %td= t.invest_equipment_money
            %td= t.invest_faclities_money
            %td= t.fixed_danger_money
            %td= t.safety_edu_money
            %td= t.safety_reward_money
  
            %td= t.safety_meeting_count
            %td= t.safety_meeting_persons
            %td= t.safety_meeting_solve_questions
            %td
              .btn-group{ role: "group","aria-label" => "..."}
                = link_to  resource_url(t),
                  :class => "btn btn-sm btn-default",
                  "data-toggle" => "tooltip",
                  "data-placement" => "top",
                  :title => "查看详细信息" do
                  %i.fa.fa-eye
  
                - if can? :update,t
                  = link_to edit_resource_path(t),
                    :class => "btn btn-sm btn-default",
                    "data-toggle" => "tooltip",
                    "data-placement" => "top",
                    :title => "修改当前记录" do
                    %i.fa.fa-edit
  
                - if can? :destroy,t
                  = link_to t,:method => :delete,
                    "data-confirm" => "你确定要删除吗?",
                    :class => "btn btn-default btn-sm",
                    "data-toggle" => "tooltip",
                    "data-placement" => "top",
                    :title => "删除该记录" do
                    %i.fa.fa-trash
  
      %tfoot{:style => "font-weight : bold;color :red;"}
        %tr
          %td
          %td 本月合计
          %td= @q.result.sum("safety_check_count + special_safety_check_count + evening_safety_check_count")
          %td= @q.result.sum("safety_check_count")
          %td= @q.result.sum("special_safety_check_count")
          %td= @q.result.sum("evening_safety_check_count")
          %td= @q.result.sum("danger_count")
          %td= @q.result.sum("fixed_danger_count")
          %td= "#{SafetyTable.fixed_danger_percent(@q)}%"
  
          %td= @q.result.sum("third_edu_persons")
          %td= "#{SafetyTable.third_edu_percent(@q)}%"
  
          %td= @q.result.sum("special_worker_edu_persons")
          %td= "#{SafetyTable.special_worker_edu_percent(@q)}%"
  
          %td= @q.result.sum("common_edu_persons")
          %td= @q.result.sum("no_duplicate_persons")
          %td= "#{SafetyTable.common_edu_percent(@q)}%"
  
          %td= @q.result.sum("invest_equipment_money + invest_faclities_money + fixed_danger_money + safety_edu_money + safety_reward_money")
          %td= @q.result.sum("invest_equipment_money")
          %td= @q.result.sum("invest_faclities_money")
          %td= @q.result.sum("fixed_danger_money")
          %td= @q.result.sum("safety_edu_money")
          %td= @q.result.sum("safety_reward_money")
  
          %td= @q.result.sum("safety_meeting_count")
          %td= @q.result.sum("safety_meeting_persons")
          %td= @q.result.sum("safety_meeting_solve_questions")
          %td
  = will_paginate collection, renderer: BootstrapPagination::Rails,previous_label: t("previous"), next_label: t("next")
