= semantic_form_for resource,html: {id: "fire_fighting_equipment_form"} do |f|
  = f.inputs do
    / = f.input :org_id,as: :select,collection: current_ability_orgs_for_select,include_blank: false,input_html: {style: "width : 30%;"}
    = render "shared/org_select_in_form",f: f
    = f.input :name,input_html: {style: "width : 60%;"}
    = f.input :location
    = f.input :model
    = f.input :qty,input_html: {style: "width : 60%;"}
    = f.input :unit_id,as: :select,collection: units_for_select,include_blank: false,input_html: {style: "width : 30%;"}


    = f.input :out_factory_date,as: :string,input_html: {readonly: true,
      "data-provide" => "datepicker",
      "data-date-format" => "yyyy-mm-dd",
      "data-date-end-date" => "0d",
      "data-date-language" => "zh-CN",
      style: "width : 20%;"}
    = f.input :use_year,input_html: {style: "width : 30%;"}
    = f.input :valid_date,as: :string,input_html: {readonly: true,
      "data-provide" => "datepicker",
      "data-date-format" => "yyyy-mm-dd",
      "data-date-end-date" => "0d",
      "data-date-language" => "zh-CN",
      style: "width : 20%;"}

    = f.input :last_upkeep_date,as: :string,input_html: {readonly: true,
      "data-provide" => "datepicker",
      "data-date-format" => "yyyy-mm-dd",
      "data-date-end-date" => "0d",
      "data-date-language" => "zh-CN",
      style: "width : 20%;"}

    = f.input :order_by,input_html: {style: "width : 20%;"}

    = f.input :is_active,label: false
