/ 比赛事件
%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %th{:style => "text-align : center;"}
      %th{:style => "text-align : center;"}= @match.try(:team1).try(:cn_name)
      %th{:style => "text-align : center;"} 时间
      %th{:style => "text-align : center;"}= @match.try(:team2).try(:cn_name)
      %th{:style => "text-align : center;"}

  %tbody
    - @match.events.each do  |e|
      %tr
        - if e.ishome
          %td= e.try(:player_name1)
          %td= image_tag("event_type_#{e.event_type}")
          %td= e.try(:happen_time).to_s + "'"
          %td
          %td
        - else
          %td
          %td
          %td= e.try(:happen_time).to_s + "'"
          %td= image_tag("event_type_#{e.event_type}")
          %td= e.try(:player_name1)
  %tfoot
    %tr
      %td{:colspan => 5}
        = image_tag("event_type_1.png")
        %label 进球
        = image_tag("event_type_3.png")
        %label 黄牌
        = image_tag("event_type_7.png")
        %label 点球
        = image_tag("event_type_8.png")
        %label 乌龙
        = image_tag("event_type_9.png")
        %label 红牌
        = image_tag("event_type_11.png")
        %label 换人

