/ 对战成绩 
%table.table.table-striped.table-condensed.table-hover
  %thead
    - if title.present?
      %tr
        %th{:colspan => 10}
          %h5= title 
    - if team.present?
      %tr
        %th{:colspan => 10}
          %h5= team.cn_name

    %tr
      %th{:style => "text-align : center;"} 日期
      %th 赛事
      %th 主场
      %th{:style => "text-align : center;"} 比分
      %th 客场
      %th{:style => "text-align : center;"} 盘路
  %tbody
    - matches.each do |match|
      %tr
        %td{:style => "vertical-align : middle;"}= match.match_time.strftime("%Y-%m-%d")
        %td{:style => "vertical-align : middle;"}= match.league.cn_name
        %td{:style => "vertical-align : middle;"}= match.team1.cn_name
        %td{:style => "text-align : center;vertical-align : middle;width : 50px;font-size : 10px;"}
          %p{:style => "margin : 0;"}
            %em= "#{match.home_score} : #{match.guest_score}"
          %em= "(#{match.half_home_score} : #{match.half_guest_score})"
        %td{:style => "vertical-align : middle;"}= match.team2.cn_name
        %td{:style => "text-align : center;vertical-align : middle;width : 50px;font-size : 10px;"}
          %p{:style => "margin : 0;"}
            %em= match.odds_value
          %em= odds_result_des(match.odds_result)

