/ 亚欧赔率统计
%table.table.table-striped.table-condensed.table-hover
  %thead
    - if title.present?
      %tr
        %th{:colspan => 7}
          %h5= title

    %tr
      %th 公司
      %th 主队
      %th 走盘
      %th 客队
      %th 主胜
      %th 平赔
      %th 客胜
  %tbody
    - odds_rates.each do |o|
      %tr
        %td= o.try(:company).try(:cn_name)
        %td= o.try(:home).present? ?  "#{o.try(:home).round(0)}%" : "无"
        %td= o.try(:goal).present? ?  "#{o.try(:goal).round(0)}%" : "无"
        %td= o.try(:away).present? ?  "#{o.try(:away).round(0)}%" : "无"
        %td= o.try(:hw).present?  ? "#{o.try(:hw).round(0)}%" : "无"
        %td= o.try(:st).present?  ?  "#{o.try(:st).round(0)}%" : "无"
        %td= o.try(:aw).present?  ?  "#{o.try(:aw).round(0)}%" : "无"
