/ 亚赔
%table.table.table-striped.table-condensed.table-hover.table-bordered
  %thead
    %tr
      %th 公司
      %th{:colspan => 3,:style => "text-align : center;"} 初盘
      %th{:colspan => 3,:style => "text-align : center;"} 即时
      %th 变
  %tbody
    - odds.first.each do |c|
      %tr
        %td= c.cn_name
        %td= odds[1][0][c].try(:home)
        %td= odds[1][0][c].try(:goal)
        %td= odds[1][0][c].try(:away)
        %td= odds[1][1][c].try(:home)
        %td= odds[1][1][c].try(:goal)
        %td= odds[1][1][c].try(:away)
        %td{:style => "text-align : center;"}
          = link_to ">",odds_asians_path("q[match_id_eq]" => match.match_id,"q[company_id_eq]" => c.company_id,"q[type_eq]" => 2,format: :js),class: "btn btn-sm btn-primary fancybox fancybox.ajax"
