/ 亚欧赔率统计
%table.table.table-striped.table-condensed.table-hover
  %thead
    - if title.present?
      %tr
        %th{:colspan => 7}
          %h5= title

    %tr
      %th 公司
      %th 上盘
      %th 走盘
      %th 下盘
      %th 主胜
      %th 平赔
      %th 客胜
  %tbody
    - odds_rates.each do |o|
      %tr
        %td= o.try(:company).try(:cn_name)
        %td= o.try(:home).present? ?  o.try(:home) : "无"
        %td= o.try(:goal).present? ?  o.try(:goal) : "无"
        %td= o.try(:away).present? ?  o.try(:away) : "无"
        %td= o.try(:hw).present?  ? o.try(:hw) : "无"
        %td= o.try(:st).present?  ?  o.try(:st) : "无"
        %td= o.try(:aw).present?  ?  o.try(:aw) : "无"

