%table.table.table-hover.table-condensed.table-striped{"data-leagues" => Match.immediate_leagues.to_json}
  %tbody
    - @matches.each do |match|
      %tr.match-tr{"data-match" => match.to_json}
        %td
          %button.btn.btn-default.btn-lg{:type =>"button"}
            %span.glyphicon.glyphicon-star{ "aria-hidden" => "true"}
        %td
          = match.try(:league).try(:cn_name)
          = match.match_time.strftime("%H:%M")
          %p= match.team1.cn_name

        - if match.match_status_before_type_cast == -1
          %td{"vertical-align" => "middle"} 未开
        - else
          %td{"vertical-align" => "center"}
            %div
              %span.label.label-info= match.status
            %span= match.try(:current_match).try(:home_score)
            %span :
            %span= match.try(:current_match).try(:guest_score)
        %td
          = match.begin
          %p= match.team2.cn_name
