#ptr
  / Pull down arrow indicator
  %span.genericon.genericon-next
  .loading
    %span#l1
    %span#l2
    %span#l3

%table.table.table-hover.table-condensed.table-striped#immediate_table{"data-leagues" => Match.immediate_leagues.to_json}
  %tbody
    - @matches.each do |match|
      %tr.match-tr{"data-match" => match.to_json}
        %td
          %button.btn.btn-default.btn-lg{:type =>"button"}
            %span.glyphicon.glyphicon-star{ "aria-hidden" => "true"}
        %td
          = match.try(:league).try(:cn_name)
          = match.match_time.strftime("%H:%M")
          %p
            - if match.try(:current_match).try(:home_yellow_card).present?
              %span.label.label-warning= match.try(:current_match).try(:home_yellow_card)
            - if match.try(:current_match).try(:home_red_card).present?
              %span.label.label-danger= match.try(:current_match).try(:home_red_card)

            = match.team1.cn_name

        - if match.match_status_before_type_cast == 0
          %td{:style => "vertical-align : middle;"} 未开
        - else
          %td{:style => "text-align : center;vertical-align : middle;"}
            = match.status
            %p
              %span.label.label-info
                = "#{match.try(:current_match).try(:home_score)} : #{match.try(:current_match).try(:guest_score)}"
        %td
          - if match.begin.present?
            = goal_cn(match.begin)
          %p
            = match.team2.cn_name
            - if match.try(:current_match).try(:guest_red_card).present?
              %span.label.label-danger= match.try(:current_match).try(:guest_red_card)

            - if match.try(:current_match).try(:gues_yellow_card).present?
              %span.label.label-warning= match.try(:current_match).try(:guest_yellow_card)
