%table.table.table-condensed
  %tr
    %td
      %a.btn.btn-default.btn-last-week-yesterday{:href =>"#",:role =>"button","data-day" => @yesterday}
        %span.glyphicon.glyphicon-arrow-left
    %td
      = select_tag "select_last_week_match_time_eq",options_for_select(last_week_for_select,@current_day),
        :class => "form-control select-week-of_day"

    %td{:style => "text-align : right;"}
      %a.btn.btn-default.btn-last-week-tomorrow{:href =>"#",:role =>"button","data-day" => @tomorrow }
        %span.glyphicon.glyphicon-arrow-right

%table.table.table-hover.table-condensed.table-striped
  %tbody
    - @matches.each do |match|
      %tr.match-tr{"data-match" => match.to_json}
        %td
          = match.try(:league).try(:cn_name)
          %p= match.match_time.strftime("%H:%M")
        %td
          %p= match.team1.cn_name

        %td
          = "#{match.home_score}:#{match.guest_score}"
          %p= "(#{match.half_home_score}:#{match.half_guest_score})"
        %td= match.team2.cn_name
