%table.table.table-condensed
  %thead
    %tr
      %th{:style => "text-align : center;"}
        - if @match.is_home_bigdata_recommend?
          %span.glyphicon.glyphicon-tree-deciduous{"aria-hidden" => "true", :style => "color : red"}
        - if @match.is_home_yinglang_recommend?
          %span.glyphicon.glyphicon-thumbs-up{"aria-hidden" => "true", :style => "color : red"}
        = @match.team1.cn_name
      %th{:style => "text-align : center;"}
        %p{:style => "font-size : 12px;margin : 0;padding-top : 5px;"}
          VS
        %p{:style => "font-size : 3px;margin : 0;padding-top : 5px;"}
          = @match.match_time.strftime("%Y-%m-%d %H:%M")
        %p{:style => "font-size : 3px;margin : 0;padding-top : 5px;"}
          = @match.status
      %th{:style => "text-align : center;"}
        = @match.team2.cn_name
        - if @match.is_guest_bigdata_recommend?
          %span.glyphicon.glyphicon-tree-deciduous{"aria-hidden" => "true", :style => "color : red"}
        - if @match.is_guest_yinglang_recommend?
          %span.glyphicon.glyphicon-thumbs-up{"aria-hidden" => "true", :style => "color : red"}

/大数据报告
.analyse
  /%h5 联赛积分排名
  /= render "league_rankings",league_rankings: @match.home_league_rankings,team: @match.team1
  /= render "league_rankings",league_rankings: @match.guest_league_rankings,team: @match.team2
  / 对赛往绩
  /= render "match_history",title: "对赛往绩",matches: @match.matches_history,team: nil
  / 近期战绩-主队
  /= render "match_history",title: "近期战绩",matches: @match.matches_recent_home,team: @match.team1

  / 近期战绩-客队
  /= render "match_history",matches: @match.matches_recent_guest,team: @match.team2,title: nil

  / 亚欧赔率初盘统计
  = render "odds_rate",odds_rates: @match.odds_rates_begin,title: "亚欧赔率初盘统计"

  / 亚欧赔率终盘统计
  = render "odds_rate",odds_rates: @match.odds_rates_final,title: "亚欧赔率终盘统计"
