%table.table.table-condensed
  %thead
    %tr
      %th{:style => "text-align : center;"}
        = @match.team1.cn_name
      %th{:style => "text-align : center;"}
        %p{:style => "font-size : 12px;margin : 0;padding-top : 5px;"}
          VS
        %p{:style => "font-size : 3px;margin : 0;padding-top : 5px;"}
          = @match.match_time.strftime("%Y-%m-%d %H:%M")
        %p{:style => "font-size : 3px;margin : 0;padding-top : 5px;"}
          = @match.status
      %th{:style => "text-align : center;"}
        = @match.team2.cn_name

.btn-group.btn-group-justified.match-tabs{:role => "group","aria-label" => "..."}
  = link_to "事件", "#",class: "btn btn-sm btn-info","data-link-el-class" => ".events"
  = link_to "阵容", "#",class: "btn btn-sm","data-link-el-class" => ".lineups"
  = link_to "分析", "#",class: "btn btn-sm","data-link-el-class" => ".analyse"
  = link_to "亚赔", "#",class: "btn btn-sm","data-link-el-class" => ".odds-asian"
  = link_to "欧赔", "#",class: "btn btn-sm","data-link-el-class" => ".odds-europe"
  = link_to "大小", "#",class: "btn btn-sm","data-link-el-class" => ".odds-ball"

/ 联赛积分
.events.well.well-sm
  =render "events"


/ 赛程
.lineups.well.well-sm{:style => 'display : none;'}
  = render "lineups"

/ 让球
.analyse.well.well-sm{:style => 'display : none;'}
  = render "match_history",matches: @match.matches_recent_guest,team: @match.team2,title: nil

/ 大小
.odds-asian.well.well-sm{:style => 'display : none;'}
  = render "odds_asian",odds: @match.current_odds_asians

/ 射手榜
.odds-europe.well.well-sm{:style => 'display : none;'}
  = render "odds_europe",odds: @match.current_odds_europes
/ 大小球
.odds-ball.well.well-sm{:style => 'display : none;'}
  = render "odds_ball",balls: @match.current_odds_balls

/ 杯赛积分

/ 杯赛赛程

