%table.table.table-condensed
  %thead
    %tr
      %th{:style => "text-align : center;"}
        = @match.team1.cn_name
      %th{:style => "text-align : center;"}
        %p{:style => "font-size : 12px;margin : 0;padding-top : 5px;"}
          VS
        %p{:style => "font-size : 3px;margin : 0;padding-top : 5px;"}
          = @match.match_time.strftime("%Y-%m-%d %H:%M")
        %p{:style => "font-size : 3px;margin : 0;padding-top : 5px;"}
          = @match.status
      %th{:style => "text-align : center;"}
        = @match.team2.cn_name

.btn-group.btn-group-justified.match-tabs{:role => "group","aria-label" => "..."}
  = link_to "事件", "#",class: "btn btn-info","data-link-el-class" => ".events"
  = link_to "阵容", "#",class: "btn","data-link-el-class" => ".lineups"
  = link_to "分析", "#",class: "btn","data-link-el-class" => ".analyse"
  = link_to "亚赔", "#",class: "btn","data-link-el-class" => ".odds-asian"
  = link_to "欧赔", "#",class: "btn","data-link-el-class" => ".odds-europe"
  = link_to "大小", "#",class: "btn","data-link-el-class" => ".odds-ball"
/ 事件
.events
  %p.well 事件 TODO
/ 阵容
.lineups{:style => 'display : none;'}
  = render "lineups"

/ 联赛积分排名
.analyse{:style => 'display : none;'}
  %h5 联赛积分排名
  = render "league_rankings",league_rankings: @match.home_league_rankings,team: @match.team1
  = render "league_rankings",league_rankings: @match.guest_league_rankings,team: @match.team2

  / 对赛往绩
  = render "match_history",title: "对赛往绩",matches: @match.matches_history,team: nil

  / 近期战绩-主队
  = render "match_history",title: "近期往绩",matches: @match.matches_recent_home,team: @match.team1

  / 近期战绩-客队
  = render "match_history",matches: @match.matches_recent_guest,team: @match.team2,title: nil

/ 亚赔
.odds-asian{:style => 'display : none;'}
  = render "odds_asian",odds: @match.current_odds_asians

/ 欧赔
.odds-europe{:style => 'display : none;'}
  = render "odds_europe",odds: @match.current_odds_europes
/ 大小球
.odds-ball{:style => 'display : none;'}
  = render "odds_ball",balls: @match.current_odds_balls
