%table.table.table-condensed
  %thead
    %tr
      %th{:style => "text-align : center;"}
        = @match.team1.cn_name
      %th{:style => "text-align : center;"}
        %h4 VS
        %p= @match.match_time.strftime("%Y-%m-%d %H:%M")
        %p= @match.status
      %th{:style => "text-align : center;"}
        = @match.team2.cn_name

%ul.nav.nav-tabs
  %li.active{:role => "presentation"}
    = link_to "事件", "#"
  %li{:role => "presentation"}
    = link_to "阵容", "#"
  %li{:role => "presentation"}
    = link_to "分析", "#"
  %li{:role => "presentation"}
    = link_to "亚赔", "#"
  %li{:role => "presentation"}
    = link_to "欧赔", "#"
  %li{:role => "presentation"}
    = link_to "大小", "#"

.row.lineup
  .col-xs-6
    %ul.list-group
      %li.list-group-item
        %h4 首发阵容
      - @match.home_start_line_ups.each do |lineup|
        %li.list-group-item
          %span.badge= lineup.shirt_num
          = lineup.cn_name


    %ul.list-group
      %li.list-group-item
        %h4 替补阵容
      - @match.home_substitute_line_ups.each do |lineup|
        %li.list-group-item
          %span.badge= lineup.shirt_num
          = lineup.cn_name


    - if @match.home_wounded_line_ups.present?
      %ul.list-group
        %li.list-group-item
          %h4 伤兵
        - @match.home_wounded_line_ups.each do |lineup|
          %li.list-group-item
            %span.badge= lineup.shirt_num
            = lineup.cn_name

    - if @match.home_stopped_line_ups.present?
      %ul.list-group
        %li.list-group-item
          %h4 停赛
        - @match.home_stopped_line_ups.each do |lineup|
          %li.list-group-item
            %span.badge= lineup.shirt_num
            = lineup.cn_name



  .col-xs-6
    %ul.list-group
      %li.list-group-item
        %h4 首发阵容
      - @match.visiting_start_line_ups.each do |lineup|
        %li.list-group-item
          %span.badge= lineup.shirt_num
          = lineup.cn_name


    %ul.list-group
      %li.list-group-item
        %h4 替补阵容
      - @match.visiting_substitute_line_ups.each do |lineup|
        %li.list-group-item
          %span.badge= lineup.shirt_num
          = lineup.cn_name


    - if @match.visiting_stopped_line_ups.present?
      %ul.list-group
        %li.list-group-item
          %h4 伤兵
        - @match.visiting_wounded_line_ups.each do |lineup|
          %li.list-group-item
            %span.badge= lineup.shirt_num
            = lineup.cn_name

    - if @match.visiting_stopped_line_ups.present?
      %ul.list-group
        %li.list-group-item
          %h4 停赛
        - @match.visiting_stopped_line_ups.each do |lineup|
          %li.list-group-item
            %span.badge= lineup.shirt_num
            = lineup.cn_name
