= semantic_form_for @register_info,html: {multipart: true} do |f|
  = f.semantic_errors
  = f.hidden_field :user_id,value: current_user.id

  %table.table.table-bordered.table-hover.table-condensed
    %thead
      %tr
        %th{:colspan => 8}
          一、项目申请单位基本情况
      %tr
        %td
          项目申请单位名称
        %td{:colspan => 3}
          = f.input :company_name,label: false
        %td
          项目申请单位法人代码
        %td{:colspan => 3}
          = f.input :legal_code,label: false
      %tr
        %td
          项目申请单位地址
        %td{:colspan => 3}
          = f.input :address,label: false
        %td
          法人代表
        %td{:colspan => 3}
          = f.input :legaler,label: false

      %tr
        %td
          联合申报单位 
        %td{:colspan => 3}
          = f.input :union_company_name,:label => false
        %td
          物流资质等级
        %td{:colspan => 3}
          = f.input :logistics_level,:as => :select,label: false,collection: logistics_levels_for_select
      %tr
        %td
          项目负责人
        %td
          = f.input :project_manager,label: false 
        %td
          电话号码
        %td
          = f.input :pm_phone,as: :phone,label: false 
        %td
          传真号码
        %td
          = f.input :pm_fax,label: false 
        %td
          手机
        %td
          = f.input :pm_mobile,label: false 
      %tr
        %td
          注册资本
        %td
          = f.input :capital,label: false 
        %td
          注册时间
        %td
          = f.text_field :register_date,class: 'datepicker',:readonly => true
        %td
          申请单位经济类型
        %td{:colspan => 3}
          = f.input :ec_typee,:as => :select, collection: ec_types_for_select,include_blank: false,label: false 
      %tr
        %th{:colspan => 8}
          二、项目申请单位主要经济指标(2012年度,单位:万元,人)
      %tr
        %td
          年营业收入
        %td
          = f.input :income_2012,label: false
        %td
          年净利润
        %td
          = f.input :profit_2012, label: false
        %td
          物流专业员工人数(人)
        %td{:colspan => 3}
          = f.input :employees_count_2012,label: false
      %tr
        %th{:colspan => 8}
          三、项目申请单位财务状况(2012年度,单位:万元,%)
      %tr
        %td
          总资产
        %td
          = f.input :asset_2012,label: false
        %td
          净资产
        %td
          = f.input :pure_asset_2012,label: false
        %td
          2011年、2012年企业纳税额
        %td{:colspan => 2}
          = f.input :tax_2011,label: false
        %td
          = f.input :tax_2012,label: false

      %tr
        %td
          净资产收益率
        %td
          = f.input :profit_pure_asset_2012,label: false
        %td
          流动资产周转率
        %td
          = f.input :profit_flow_asset_2012,label: false
        %td
          资产负债率
        %td{:colspan => 3}
          = f.input :rate_balance_2012,label: false
      %tr
        %th{:colspan => 8}
          四、申请项目情况:
      %tr
        %td
          项目名称
        %td{:colspan => 7}
          = f.input :project_name,label: false
      %tr
        %td
          项目主要建设内容（300-500字）
        %td{:colspan => 7}
          = f.input :project_context,label: false

      %tr
        %td
          项目绩效评估（300-500字）
        %td{:colspan => 7}
          = f.input :project_kpi,label: false
      %tr
        %td
          项目所属专题
        %td{:colspan => 7}
          = f.input :project_belongs,label: false
      %tr
        %td
          项目起至年限
        %td{:colspan => 7}
          = f.text_field :project_begin_date,class: 'datepicker',:readonly => true
          &rarr;
          = f.text_field :project_end_date,class: 'datepicker',:readonly => true

      %tr
        %td{:rowspan => 2}
          项目投资
        %td
          项目总投资(万元)
        %td
          = f.input :project_sum_invest,label: false
        %td
          自筹经费(万元)
        %td
          = f.input :project_sum_invest_self,label: false
        %td
          贷款(万元)
        %td{:colspan => 2}
          = f.input :project_sum_invest_loan,label: false
      %tr
        %td
          拟申请财政资金及方式(万元)
        %td
          = f.input :project_sum_apply,label: false
        %td
          方式:
        %td{:colspan => 5}
          = f.input :project_sum_apply,as: :select,collection: apply_types_for_select,include_blank: false,label: false

      %tr
        %td
          已投资进度
        %td
          2012年投资额(万元)
        %td
          = f.input :project_already_invest_2012,label: false
        %td
          2013年投资额(万元)
        %td
          = f.input :project_already_invest_2013,label: false
        %td
          是否重点项目
        %td{:colspan => 2}
          = f.input :is_important,as: :select,collection: important_levels_for_select,label: false
      %tr
        %th{:colspan => 8}
          四、相关附件资料
      %tr
        %td
          营业执照
        %td{:colspan => 7}
          = f.file_field :attach_1
      %tr
        %td
          组织机构代码证
        %td{:colspan => 7}
          = f.file_field :attach_2
      %tr
        %td
          税务登记证
        %td{:colspan => 7}
          = f.file_field :attach_3
      %tr
        %td
          法人代表身份证件 
        %td{:colspan => 7}
          = f.file_field :attach_4
      %tr
        %td
          资信证明
        %td{:colspan => 7}
          = f.file_field :attach_5

      %tr
        %td
          项目实施方案及可行性报告(电子版) 
        %td{:colspan => 7}
          = f.file_field :attach_6
      %tr
        %td
          项目资金证明(电子版) 
        %td{:colspan => 7}
          = f.file_field :attach_7

      %tr
        %td
          申报资金项目承诺书(扫描件)
        %td{:colspan => 7}
          = f.file_field :attach_8
      %tr
        %td
          其他相关证明材料(可打包)
        %td{:colspan => 7}
          = f.file_field :attach_9







  = f.actions do
    = f.submit "提交填报数据",:class => "btn btn-primary btn-lg"
