%table.table.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th{:colspan => 8}
        一、项目申请单位基本情况
      %tr
        %td
          项目申请单位名称
        %td{:colspan => 3}
          = @register_info.company_name
        %td
          项目申请单位法人代码
        %td{:colspan => 3}
          = @register_info.legal_code
      %tr
        %td
          项目申请单位地址
        %td{:colspan => 3}
          = @register_info.address
        %td
          法人代表
        %td{:colspan => 3}
          = @register_info.legaler

      %tr
        %td
          联合申报单位
        %td{:colspan => 3}
          = @register_info.union_company_name
        %td
          物流资质等级
        %td{:colspan => 3}
          = logistics_level_desc(@register_info.logistics_level)
      %tr
        %td
          项目负责人
        %td
          = @register_info.project_manager
        %td
          电话号码
        %td
          = @register_info.pm_phone
        %td
          传真号码
        %td
          = @register_info.pm_fax
        %td
          手机
        %td
          = @register_info.pm_mobile
      %tr
        %td
          注册资本
        %td
          = @register_info.capital
        %td
          注册时间
        %td
          = @register_info.register_date
        %td
          申请单位经济类型
        %td{:colspan => 3}
          = ec_type_desc(@register_info.ec_typee)
      %tr
        %th{:colspan => 8}
          二、项目申请单位主要经济指标(2012年度,单位:万元,人)
      %tr
        %td
          年营业收入
        %td
          = @register_info.income_2012
        %td
          年净利润
        %td
          = @register_info.profit_2012
        %td
          物流专业员工人数(人)
        %td{:colspan => 3}
          = @register_info.employees_count_2012
      %tr
        %th{:colspan => 8}
          三、项目申请单位财务状况(2012年度,单位:万元,%)
      %tr
        %td
          总资产
        %td
          = @register_info.asset_2012
        %td
          净资产
        %td
          = @register_info.pure_asset_2012
        %td
          2011年、2012年企业纳税额
        %td{:colspan => 2}
          = @register_info.tax_2011
        %td
          = @register_info.tax_2012

      %tr
        %td
          净资产收益率
        %td
          = @register_info.profit_pure_asset_2012
        %td
          流动资产周转率
        %td
          = @register_info.profit_flow_asset_2012
        %td
          资产负债率
        %td{:colspan => 3}
          = @register_info.rate_balance_2012
      %tr
        %th{:colspan => 8}
          四、申请项目情况:
      %tr
        %td
          项目名称
        %td{:colspan => 7}
          = @register_info.project_name
      %tr
        %td
          项目主要建设内容（300-500字）
        %td{:colspan => 7}
          = @register_info.project_context

      %tr
        %td
          项目绩效评估（300-500字）
        %td{:colspan => 7}
          = @register_info.project_kpi
      %tr
        %td
          项目所属专题
        %td{:colspan => 7}
          = @register_info.project_belongs
      %tr
        %td
          项目起至年限
        %td{:colspan => 7}
          = @register_info.project_begin_date
          &rarr;
          = @register_info.project_end_date

      %tr
        %td{:rowspan => 2}
          项目投资
        %td
          项目总投资(万元)
        %td
          = @register_info.project_sum_invest
        %td
          自筹经费(万元)
        %td
          = @register_info.project_sum_invest_self
        %td
          贷款(万元)
        %td{:colspan => 2}
          = @register_info.project_sum_invest_loan
      %tr
        %td
          拟申请财政资金及方式(万元)
        %td
          = apply_type_desc(@register_info.project_apply_type)
        %td
          方式:
        %td{:colspan => 5}
          = @register_info.project_sum_apply

      %tr
        %td
          已投资进度
        %td
          2012年投资额(万元)
        %td
          = @register_info.project_already_invest_2012
        %td
          2013年投资额(万元)
        %td
          = @register_info.project_already_invest_2013
        %td
          是否重点项目
        %td{:colspan => 2}
          = important_level_desc(@register_info.is_important)
      %tr
        %th{:colspan => 8}
          四、相关附件资料
      %tr
        %td
          项目实施方案电子档 
        %td{:colspan => 7}
          = image_tag @register_info.attach_1.url(:medium)
      %tr
        %td
          营业执照(必填)
        %td{:colspan => 7}
          = image_tag @register_info.attach_1.url(:medium)
      %tr
        %td
          组织机构代码证(必填)
        %td{:colspan => 7}
          = image_tag @register_info.attach_2.url(:medium)
      %tr
        %td
          税务登记证(必填)
        %td{:colspan => 7}
          = image_tag @register_info.attach_3.url(:medium)
      %tr
        %td
          法人代表身份证件(必填)
        %td{:colspan => 7}
          = image_tag @register_info.attach_4.path(:medium)
      %tr
        %td
          资信证明(必填)
        %td{:colspan => 7}
          = image_tag @register_info.attach_5.path(:medium)

      %tr
        %td
          项目实施方案及可行性报告(电子版) 
        %td{:colspan => 7}
          = link_to @register_info.attach_6_file_name,@register_info.attach_6.url
      %tr
        %td
          项目资金证明(电子版) 
        %td{:colspan => 7}
          = link_to @register_info.attach_7_file_name,@register_info.attach_7.url

      %tr
        %td
          申报资金项目承诺书(扫描件)
        %td{:colspan => 7}
          = link_to @register_info.attach_8_file_name,@register_info.attach_8.url
      %tr
        %td
          其他相关证明材料(可打包)
        %td{:colspan => 7}
          = link_to @register_info.attach_9_file_name,@register_info.attach_9.url



