.panel-heading
  .panel-title 
    城市共同配送试点项目-申请企业列表
  .panel-options
  .panel-body
    %table.table.table-hover.table-condensed
      %thead
        %tr
          %th 申请单位名称
          %th 申请时间
          %th 申请单位地址
          %th 项目名称
          %th 项目负责人
          %th 联系电话
          %th 申请方式
          %th 申请金额
          %th 操作

      %tbody
        - @register_infos.each do |register_info|
          %tr
            %td= register_info.company_name
            %td= register_info.company_name
            %td= register_info.address
            %td= register_info.project_name
            %td= register_info.project_manager
            %td= register_info.pm_phone
            %td= apply_type_desc(register_info.project_apply_type)
            %td= register_info.project_sum_apply
            %td
              = link_to "查看", register_info
              |
              = link_to "修改", edit_register_info_path(register_info)
