.box.box-default.box-solid.box-info
  .box-header
    %h4.box-title 查询
  .box-body
    = semantic_search_form_for resource_class.ransack,html: {id: "search_salary_table_form",method: :get,style: "width : 400px;" } do |f|
      = f.input :org_id_eq,as: :select,collection: current_ability_orgs_for_select,label: "所属机构",input_html: {class: "input-sm"}
      = f.input :name_cont,label: "姓名",input_html: {class: "input-sm"}
      = f.input :mobile_cont,label: "手机",input_html: {class: "input-sm"}
      = f.input :id_no_cont,label: "身份证号",input_html: {class: "input-sm"}
      = f.input :vehicle_vehicle_no_cont,label: "车牌号",input_html: {class: "input-sm"}
      = f.actions do
        = f.action :submit,label: "查询", :button_html => { :class => "btn btn-sm btn-primary", :disable_with => '稍等...'}


