%table
  %tr
    %th{colspan: 9}
      %h3{style: "text-align: center;"} 交通工具一览表
  %tr
    %td
      单位名称
    %td
      品牌型号
    %td
      车牌号
    %td
      登记证书
    %td
      行驶证号
    %td
      购置日期
    %td
      报废期
    %td
      上次年检时间
    %td
      事故记录

  - @q.result.all.each do |ffq|
    %tr
      %td= ffq.org
      %td= ffq.model
      %td= ffq.vehicle_no
      %td= ffq.register_no
      %td= ffq.license_no
      %td= ffq.buy_date
      %td= ffq.expire_date
      %td= ffq.last_check_date
      %td= ffq.note
