%h3{style: "text-align: center;display: none;"} 测试
%table
  %tr
    %td{:colspan => 7}
      锅炉
  %tr
    %th
      所属单位
    %th
      购置(安装)时间
    %th
      生产厂商
    %th
      型号
    %th
      所在场所
    %th
      吨位
    %th
      检测时间

  - @q.result.all.each do |ffq|
    %tr
      %td
        = ffq.org
      %td
        = ffq.equip_date
      %td
        = ffq.vendor
      %td
        = ffq.model
      %td
        = ffq.location
      %td
        = ffq.ton
      %td
        = ffq.last_check_date
