= semantic_form_for resource,html: {id: "spec_equipment_form"} do |f|
  = f.inputs do
    = f.input :org_id,as: :select,collection: current_ability_orgs_for_select,include_blank: false,input_html: {style: "width : 30%;"}
    = f.input :equip_type,as: :select,collection: equip_types_for_select,include_blank: false,input_html: {style: "width : 30%;"}
    = f.input :equip_date,as: :string,input_html: {readonly: true,
      "data-provide" => "datepicker",
      "data-date-format" => "yyyy-mm-dd",
      "data-date-end-date" => "0d",
      "data-date-language" => "zh-CN",
      style: "width : 20%;"}


    = f.input :model,input_html: {style: "width : 60%;"}
    = f.input :location,input_html: {style: "width : 60%;"}
    = f.input :ton,input_html: {style: "width : 30%;"}
    = f.input :volume,input_html: {style: "width : 30%;"}
    = f.input :usage,input_html: {style: "width : 60%;"}
    = f.input :last_check_date,as: :string,input_html: {readonly: true,
      "data-provide" => "datepicker",
      "data-date-format" => "yyyy-mm-dd",
      "data-date-end-date" => "0d",
      "data-date-language" => "zh-CN",
      "data-date-language" => "zh-CN",
      style: "width : 20%;"}

    = f.input :note,input_html: {cols: 3,rows: 4}
    = f.input :is_active,label: false
