.well.well-sm
  = semantic_search_form_for @q,html: {class: "form-inline"} do |f|
    = f.hidden_field :qty_gt,value: 0
    = f.input :location_id_eq,collection: locations_select_for_stock(WarehouseType::WH_TYPE_CONSUME),include_blank: true,label: false,input_html: {:class => "input-sm form-control"}
    = f.select :equipment_equipment_category_id_eq,options_for_select(equipment_categories_for_select),{prompt: "--易耗品类别--"},:class => "input-sm form-control"
    = f.text_field :equipment_name_cont,:class => "input-sm form-control",placeholder: "易耗品名称"
    = f.text_field :brand_cont,:class => "input-sm form-control",placeholder: "品牌"
    = f.text_field :model_cont,:class => "input-sm form-control",placeholder: "型号"
    = f.submit "查询",class: "btn btn-primary btn-sm"
