%table{cellspacing: 0,cellpadding: 0,border: 0, style: "border-collapse : collapse;border : thin solid #000;"}
  %thead
    %tr
      %th 序号
      %th 上级单位
      %th 隐患部门(单位)
      %th 隐患名称
      %th 隐患类型
      %th 下达隐患整改时间
      %th 整改期限
      %th 整改截至时间
      %th 隐患整改状态
      %th 复查结果
  %tbody
    - collection.each_with_index do |d,i|
      %tr
        %td= i+1
        %td= d.org
        %td= d.danger_org
        %td= d.name
        %td= d.categ_des
        %td= d.deliver_date
        %td= d.fix_period
        %td= d.expire_fix_date
        %td= d.fixed_state_des
        %td= d.review_state_des
