<!-- Content Header (Page header) -->
%section.content-header
  %h2= "新建#{resource_name}"

<!-- Main content -->
%section.content
  .row
    .col-md-12.col-sm-12.col-xs-12
      .box
        .box-header
          %h3.box-title
            = render "dynamic_toolbar"

        .box-body
          %div{:id => "#{resource_class.name.underscore}_form_before_wrap"}
            = render 'form_before'
            = yield :form_before

          %div{:id => "#{resource_class.name.underscore}_form_wrap"}
            = render 'form'
            = yield :form
          %div{:id => "#{resource_class.name.underscore}_form_after_wrap"}
            = render 'form_after'
            = yield :form_after

