/ 定期工作执行
.table-responsive
  %table.table.table-condensed.table-striped.table-hover.table-bordered
    %tr
      %th 编号:
      %td
        = @maximo_msg.order_detail_hash['num']

    %tr
      %th 工作项目:
      %td
        = @maximo_msg.order_detail_hash['jobcontent']
    %tr
      %th KKS编码:
      %td
        = @maximo_msg.order_detail_hash['kkscode']

    %tr
      %th 设备专业:
      %td
        = @maximo_msg.order_detail_hash['specialty']
    %tr
      %th 执行时间:
      %td
        = @maximo_msg.order_detail_hash['performdate']

    %tr
      %th 完成时间:
      %td
        = @maximo_msg.order_detail_hash['excudate']
    %tr

      %th 责任组:
      %td
        = @maximo_msg.order_detail_hash['execgroup']

    %tr
      %th 责任人:
      %td
        = @maximo_msg.order_detail_hash['executor']
    %tr
      %th 标准分值:
      %td
        = @maximo_msg.order_detail_hash['score']

    %tr
      %th 执行结果:
      %td
        = @maximo_msg.order_detail_hash['result']
    %tr
      %th 存在问题:
      %td
        = @maximo_msg.order_detail_hash['question']
