/ 监督会议
%table.table.table-condensed.table-striped.table-hover.table-bordered
  %tr
    %th{:style => "width: 25%;"} 会议编号:
    %td
      = @maximo_msg.order_detail_hash['meetnum']
  %tr
    %th 会议类型:
    %td
      = @maximo_msg.order_detail_hash['meettype']
  %tr
    %th 会议名称:
    %td
      = @maximo_msg.order_detail_hash['meetname']
  %tr
    %th 会议时间:
    %td
      = @maximo_msg.order_detail_hash['meetdate']
  %tr
    %th 会议地点:
    %td
      = @maximo_msg.order_detail_hash['meetsite']
  %tr
    %th 主持人:
    %td
      = MaximoSoapPersonService.get_username(@maximo_msg.order_detail_hash['meethost'])
  %tr
    %th 会议内容:
    %td
      = @maximo_msg.order_detail_hash['meetcontent']
  %tr
    %th 状态:
    %td
      = @maximo_msg.order_detail_hash['status']
