.table-responsive
  %table.table.table-condensed.table-striped.table-hover.table-bordered
    %tr
      %td{:colspan => 3}
        No:
        = @cux_pa.pa_project_number

      %td{:style => "text-align: right;"}
        %span.label.label-info
          = @cux_pa.project_status_name
    %tr
      %td{:colspan => 4}
        %h4{:style => "text-align: center;"}
          %p
            = @cux_pa.project_name
    
    %tr
      %th 项目组织:
      %td{:colspan => 3}
        %p
          = @cux_pa.carrying_out_org_name

    %tr
      %th 项目类型:
      %td{:colspan => 3}
        = @cux_pa.project_type
