.table-responsive
  %table.table.table-condensed.table-striped.table-hover.table-bordered
    %tr
      %td{:colspan => 3}
        No:
        = @cux_ap_invoice.invoice_num

      %td{:style => "text-align: right;"}
        %span.label.label-info 审批中
    
    %tr
      %th 供应商:
      %td{:colspan => 3}
        = @cux_ap_invoice.vendor_name

    %tr
      %th 发票日期:
      %td{:colspan => 3}
        = @cux_ap_invoice.invoice_date.strftime("%Y-%m-%d")
    %tr
      %th 发票额:
      %td
        = @cux_ap_invoice.invoice_amount
      %th 经办人:
      %td
        = @cux_ap_invoice.attribute2

    %tr
      %th 发票说明:
      %td{:colspan => 3}
        = @cux_ap_invoice.description
