= semantic_form_for resource,html: {id: "spec_warehouse_form"} do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    = f.input :org_id,as: :select,collection: current_ability_orgs_for_select,include_blank: false,input_html: {style: "width : 30%;"}
    = f.input :warehouse_type,as: :select,collection: spec_warehouse_types_for_select,include_blank: false,input_html: {style: "width : 30%;"}
    = f.input :name,input_html: {style: "width : 60%;"}
    = f.input :location,input_html: {style: "width : 60%;"}
    = f.input :build_date,as: :string,input_html: {readonly: true,
      "data-provide" => "datepicker",
      "data-date-format" => "yyyy-mm-dd",
      "data-date-language" => "zh-CN",
      style: "width : 20%;"}

    = f.input :room_count,input_html: {style: "width : 20%;"}

    = f.input :building_area,input_html: {style: "width : 60%;"}
    = f.input :fire_level,as: :select,collection: fire_levels_for_select,include_blank: false,input_html: {style: "width : 30%;"}
    = f.input :max_volume,input_html: {style: "width : 20%;"}
    = f.input :act_volume,input_html: {style: "width : 20%;"}
    = f.input :is_camera_moniter,label: false
    = f.input :is_fire_fighting_alarm_system,label: false

    = f.input :is_auto_fire_fighting_system,label: false

    = f.input :is_fire_hydrant_system,label: false

    = f.input :is_lightning_protector,label: false

    = f.input :note,input_html: {cols: 3,rows: 4}
    = f.input :is_active,label: false
