<!DOCTYPE html>
<html>
  <head>
    <title>赢郎体育</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',debug: true %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-no-turbolink>

    <!--
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="logo">
              <h1><a href="#">ying lang sport app</a></h1>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-lg-12">
                <div class="input-group form">
                  <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Search</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="navbar navbar-inverse" role="banner">
              <%if user_signed_in?%>
              <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">账户信息 <b class="caret"></b></a>
                    <ul class="dropdown-menu animated fadeInUp">
                      <li><%= link_to current_user.email, "#" %></li>
                      <li><%= link_to "退出登录", destroy_user_session_path,method: :delete %></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->

    <div class="page-content">
      <div class="row">
        <!--
        <div class="col-md-2">
          <div class="sidebar content-box" style="display: block;">
            <ul class="nav">
              <li class="current">
                <a href="<%= register_infos_path %>">
                  <i class="glyphicon glyphicon-home"></i>
                  申报表
                </a>
              </li>
              <li>
                <a href="<%= new_register_info_path %>">
                  <i class="glyphicon glyphicon-pencil"></i>
                  填报
                </a>
              </li>

              <li>
                <a href="http://www.zzcom.cn/contents.jsp?urltype=news.NewsContentUrl&wbtreeid=1007&wbnewsid=7646" target="_blank">
                  <i class="glyphicon glyphicon-align-justify"></i>
                  填报说明
                </a>
              </li>
            </ul>
          </div>
        </div>
        -->
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-10">
              <div class="content-box-large">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <footer>
      <div class="container">
        <div class="copy text-center">
          Copyright 2015 <a href='#'>yinglang sport app</a>
        </div>

      </div>
    </footer>
    -->
  </body>
  <%= javascript_include_tag 'application',debug:  true %>
</html>


